<div class="content-crop-multi">

  <p>Area of land: 6.5ha</p>
  <p>Area of land minus other features: 6.05ha</p>

  <div class="form-group">
    <label class="form-label">Area of Winter Rye:&nbsp;
      <input class="form-control form-control-num" type="text" value=""> ha
    </label>
  </div>

  <div class="form-group">
    <label class="form-label">Area of Spring Oats:&nbsp;
      <input class="form-control form-control-num" type="text" value=""> ha
    </label>
  </div>

  <%= partial "partial-note", :locals => { :type => "crop"} %>

  <div class="form-group">
    <a href="/SJ8063_3933/" class="button">Save and return</a>
    <p><a href="/<%= parcel.id %>/edit-feature-type">Back</a></p>
  </div>

</div>