.summary-item-heading,
%summary-item-heading {
  @include core-24;
  font-weight: bold;
  position: relative;
  padding: 35px 25% 0 0;
  margin: 0 0 10px 0;
  @include box-sizing(border-box);
}

.summary-item-heading-first {
  @extend %summary-item-heading;
  padding-top: 0;
}

.summary-item-heading-number {
  position: absolute;
  width: 40px;
  left: -55px;
  text-align: right;
}

.summary-item-top-level-action {
  @include copy-19;
  text-align: right;
  margin: -36px 0 0 0;
  padding-left: 75%;
  position: relative;
  z-index: 10;

  @include ie(6) {
    zoom: 1;
  }
}

%summary-item-body {
  width: 100%;
  margin: 0 0 $gutter 0;
  border-bottom: 1px solid $border-colour;
}

p.summary-item-body {
  @extend %summary-item-body;
  @include core-19;
  border-top: 1px solid $border-colour;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 100%;
}

%summary-item-row {
  @include core-19;
  text-align: right;
  border-top: 1px solid $border-colour;
}

table.summary-item-body {
  @extend %summary-item-body;
  border-collapse: collapse;
  border-spacing: 0;

  thead tr {
    position: absolute;
    left: -9999em;
  }

  tbody {
    .summary-item-row {
      @extend %summary-item-row;
    }

    td {
      padding-top: 10px;
      padding-bottom: 10px;
      vertical-align: top;
    }
  }
}

%summary-item-field {
  vertical-align: top;
  text-align: left;
}

.summary-item-field-name {
  @extend %summary-item-field;
  width: 45%;
  padding-right: 25px;
}

.summary-item-field-headings {

  tr {
    position: absolute;
    left: -9999em;
  }

}

.summary-item-field-content {
  @extend %summary-item-field;
  width: 45%;
  padding-left: 25px;

  ul {
    margin: 0;
    list-style-type: disc;
    padding: 0 0 0 20px;
  }
}

.summary-item-field-action {
  @extend %summary-item-field;
  width: 10%;
  padding-left: 20px;
  padding-right: 0;
  text-align: right;
}

.summary-item-row-incomplete {
  @extend %summary-item-row;

  .summary-item-field-name {

    span {
      padding-left: 10px;
      border-left: 3px solid $orange;
    }

  }

  .summary-item-field-content {
    color: $orange;
    a {
      color: $orange;
    }
  }
}

.text-warning {
  color: $red;
  a {
    color: $red;
  }

  &:before {
    @include border-radius(50%);
    background-color: $red;
    content: '!';
    color: $white;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    height: 1em;
    line-height: 1;
    margin-right: 5px;
    padding: 2px;
    text-align: center;
    width: 1em;
  }

}