

.business-associatesx{
  @extend %contain-floats;
  margin-top: 0.26316em;
  margin-bottom: 1.05263em;
  dd, dt{
    float: left;
  }
  dt{
    width: 50%;
  }
  dd{
    width: 50%;
    padding-bottom: $gutter;
  }
}

.business-associates{
  dt{
    font-weight: bold;
    margin-top: $gutter;
  }
}