// List of businesses

.business-list{
  margin: $gutter 0;
  border-top: 1px solid $border-colour;
  padding-top: 5px;
  li{
    @include core-16;
    color: $secondary-text-colour;
    border-bottom: 1px solid $border-colour;
    padding: 5px 0 8px 0;
    a{
      @include core-19;
      display: block;
    }
  }
}

