.coverage-chart{
  float: left;
  width: 100%;
  clear: both;
  .area{
    height: 20px;
  }
  .total-area{
    background: $grey-4;
    width: 100%;
  }
  .declared-area{
    background: $grey-2;
    width: 45%;
  }
  .efa-area{
    background: $green;
    width: 15%;
  }
}