table.land-use-table{
  margin-bottom: $gutter;
  th, td{
    border: 0;
  }
  td{
    padding: 0 8px 5px 0;
  }

  .land-use-name{
    width: 75%;
  }
  .land-use-area{
    width: 25%;
  }
  .running-total{
    padding: 5px;
  }
}