table.land-use-table{
  margin-bottom: $gutter;
  width: 75%;
  th, td{
    border: 0;
  }
  td{
    padding: 0 8px 5px 0;
  }

  .land-use-name{
    width: 75%;
  }
  .land-use-area{
    width: 25%;
  }
  .use-controls td{
    padding: 5px 0;
  }
  .total{
    float: right;
  }
}