

// Link to change feature type

.change-feature-type{
  font-size: 16px;
  margin-left: 10px;
  display: inline-block;
  vertical-align: super;
}


// Land use subtitle

.js-land-use{
  font-weight: normal;
  color: $secondary-text-colour;
}

// Feature dimensions box

.feature-dimensions{
  border: 1px solid $border-colour;
  th, td{
    padding: 10px;
  }
  td{
    font-size: 19px;
  }
}

.multi-use-list{
  margin-bottom: 0;
  td{
    border: none;
  }
  .land-use-name{
    width :75%
  }
  .land-use-area{
    width: 25%;
  }
  .use-controls{
  }

}