.land-table {
  td, th {
    vertical-align: top;
  }

  // column widths
  .pacel-name {
    width: 14%;
  }

  .parcel-ref {
    width: 14%
  }

  .land-use {
    width: 24%;
  }

  .land-area {
    width: 10%;
  }

  .notes {
    width: 20%;
  }

  .active-entitlements {
    width: 10%;
  }

  .edit {
    width: 8%;
  }

  // CPH header rows
  .cph-header {
    border-bottom: 2px solid $black;
  }

  .parcel-name {
    border-bottom-color: $black;
  }

  .parcel-ref {
    border-bottom-color: $black;
  }

  thead {
    .parcel-ref, .parcel-name {
      border-bottom-color: $border-colour;
    }
  }

  .active-entitlements-edit {
    font-weight: normal;
  }

  // total rows
  .total {
    td, th {
      border-bottom-color: $black;
    }
    td {
      font-weight: bold;
    }
  }

  .ineligible {
    td {
      //color: $secondary-text-colour;
      //background-color: $highlight-colour;
    }

    .parcel-ref {
      color: $black;
      background-color: transparent;
    }
  }

  input {
    text-align: right;
    font-size: 16px;
    width: 100%;
    margin: -10px 0;
  }

}

//

.land-table-3{

  .areas{
    text-align: center;
  }

    // column widths
  .pacel-name {
    //width: 10%;
  }

  .parcel-ref {
    width: 17%
  }

  .parcel-area {
    width: 16%;
  }

  .eligible-area-1 {
    width: 16%;
  }

  .eligible-area-2 {
    width: 16%;
  }

  .eligible-area-3 {
    width: 17%;
  }

  .activated-area {
    width: 20%;
  }

  .show-land-uses{
    width: 12%;
    padding-right: 0;
    text-align: right;
  }


  .parcel-row.open td,
  .parcel-row.open th{
    border-top: 2px solid $black;
  }

  .first-row td,  .first-row th{
    //border-top: 2px solid $black;
  }
  .last-row td{
    border-bottom: 2px solid $black;

    //border-bottom: 1px solid $border-colour;
    //padding-bottom: 20px;
  }

  td.parcel-ref{
    color: $secondary-text-colour;
  }

  .link-style{
    float: right;
    margin-top: 5px;
  }




}

table .last{
  padding-right: 0;
}

.decimal{
  text-align: "." start;
}

.summary-land-entitlements .total{
    border-top: 2px solid $black;
}

.form-control-error {
  border-color: #DF3034;
  outline: 2px solid #DF3034;
}

.warning{
  color: $mellow-red;
  text-align: right;
  font-weight: bold;
  line-height: 1;
font-size: 15px;
}

