.land-table {
  td, th {
    vertical-align: top;
  }

  // column widths
  .parcel-reference {
    width: 18%
  }

  .land-cover {
    width: 18%;
  }

  .land-use {
    width: 18%;
  }

  .land-area {
    width: 10%;
  }

  .notes {
    width: 18%;
  }

  .active-entitlements {
    width: 10%;
  }

  .edit {
    widows: 8%;
  }

  // CPH header rows
  .cph-header {
    border-bottom: 2px solid $black;
  }

  .parcel-name {
    // border-bottom-color: $black;
  }

  .parcel-ref {
    font-weight: normal;
    color: $secondary-text-colour;
  }

  // total rows
  .total {
    td, th {
      // border-bottom-color: $black;
    }
    td {
      font-weight: bold;
    }
  }

}