
// Generic map button styles
.map-button{
    display: block;
    text-align: center;
    padding: 5px;
    margin: -1px;
    color: $secondary-text-colour;
    background: $white;
    border: 1px solid $border-colour;
    @include core-14;
    &:hover{
        color: $text-colour;
        text-decoration: underline;
        cursor: pointer;
    }
    &.selected{
      border: 1px solid $border-colour;
      color: $text-colour;
    }
}

// Map image
.map-image{
  width: auto;
  height: 100%;

  .business-map &{
    margin-left: -60px;
  }

  .parcel-map &{
    margin-left: -60px;
  }

  .feature-map &{
    height: auto;
  }
}

// Undo/redo and map/photo buttons
.map-photo,
.undo-redo{
  position: absolute;
  top: 0;
  width: 50%;
  margin: 0;
  li{
    width: 30%;
  }
}
.map-photo{
  right: 0;
  li{
    float: right;
    &:last-child{
      margin-right: -1px;
    }
  }
}
.undo-redo{
  left: 0;
  li{
    float: left;
    &:last-child{
      margin-left: -1px;
    }
  }
}

// zoom controls

.zoom{
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  li{
    width: 30px;
    margin: 0;
    .map-button{
      padding: 4px 0px 0 0px;
      font-size: 24px;
      line-height: 110%;
    }
  }
}