
// Basic map layout
.map-wrapper{
  padding-top: $gutter-two-thirds;

  .map{
    position: relative;
    background: $grey-3;
    border: 1px solid $border-colour;
    cursor: crosshair;
    height: 500px;
    width: 100%;
    overflow: hidden;
  }
}

// Set height of map based on it's width
.grid-1-3 .map{
  height: 300px;
  img{
    margin-left: -25px;
  }
}
.grid-1-2 .map{
  height: 500px;
  img{
    margin-left: -60px;
  }
}

// Hide map buttons on small map
.grid-1-3 .map{
  .undo-redo,
  .map-photo,
  .zoom{
    display: none;
  }
}

// Basic map button styles
.map-button{
    display: block;
    text-align: center;
    padding: 5px;
    margin: -1px;
    color: $link-colour;
    text-decoration: underline;
    background: $white;
    border: 1px solid $border-colour;
    @include core-14;
    &:hover{
        color: $text-colour;
        text-decoration: underline;
        cursor: pointer;
    }
    &.selected{
      border: 1px solid $border-colour;
      color: $text-colour;
      text-decoration: none;
      font-weight: bold;
    }
}

// Map image
.map-image{
  width: auto;
  height: 100%;

  .business-map &{
    margin-left: -60px;
  }

  .parcel-map &{
    margin-left: -60px;
  }

  .feature-map &{
    height: auto;
  }
}

// Undo/redo and map/photo buttons
.map-photo,
.undo-redo{
  position: absolute;
  top: 0;
  width: 50%;
  margin: 0;
  li{
    width: 100px;
  }
}
.map-photo{
  right: 0;
  li{
    float: right;
    &:last-child{
      margin-right: -1px;
    }
  }
}
.undo-redo{
  left: 0;
  li{
    float: left;
    &:last-child{
      margin-left: -1px;
    }
  }
}

// zoom controls

.zoom{
  position: absolute;
  margin: 0;
  bottom: 0;
  left: 0;
  li{
    width: 30px;
    margin: 0;
    .map-button{
      padding: 4px 0px 0 0px;
      font-size: 24px;
      line-height: 110%;
      text-decoration: none;
    }
  }
}

.full-screen{
  position: absolute;
  margin: 0;
  bottom: 0;
  right: 0;
  li{
    width: 150px;
    margin: 0;
  }
  .close{
    display: none;
  }
}

.map-wrapper .map-full-screen{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  .zoom, .undo-redo, .map-photo, .full-screen{
    margin: 20px;
    display: block;
  }
  .full-screen{
    .open{
      display: none;
    }
    .close{
      display: block;
      width: 200px;
    }
  }
  img{
    margin: 0 auto;
  }
}

// Map markers

.map-marker,
.map-marker-2,
.map-marker-3,
.map-marker-4{
  display: block;
  width: 35px;
  height: 35px;
  text-align: center;
  font-weight: bold;
  line-height: 28px;
  font-size: 14px;
}
.map-marker{
  margin-top: 3px;
  background: url("/assets/images/map-marker.png");
  background-size: 100%;
}
.map-marker-2{
  background: url("/assets/images/map-marker-2.png");
  background-size: 100%;
}

.map-marker-3{
  background: url("/assets/images/map-marker-3.png");
  background-size: 65%;
  background-repeat: no-repeat;
  float: left;
}

.map-marker-4{
  background: url("/assets/images/map-marker-4.png");
  background-size: 93%;
  background-repeat: no-repeat;
  float: left;
  margin-top: -6px;
  margin-left: -6px;
}