.page-header {
  margin: $gutter-one-third 0 $gutter 0;
  padding: 0 0 $gutter-two-thirds 0;

  h1 {
    @include bold-48;
    color: $text-colour;
    padding-top: $gutter-one-third;
    padding-bottom: $gutter-two-thirds;
    display: inline-block;
  }

  h2.subtitle{
    margin: 0;
    color: $secondary-text-colour;
    @include core-24;
    //display: inline-block;
  }

  .metadata {
    dd {
      color: $secondary-text-colour;
      display: inline-block;
      margin-right: $gutter-two-thirds;
    }
  }
}
