
// List of parcels in a business

table.parcel-list {
  margin: $gutter 0;
  .name {
    width: 50%;
  }
  td.id{
    width: 30%;
    color: $secondary-text-colour;
    @include core-14;
  }
  td.area {
    width: 10%;
    text-align: right;
  }
  .complete {
    width: 10%;
    //text-align: right;
    padding-right: 0;
  }
}

// Status column

.tag{
  display: inline-block;
  padding: 5px 20px 4px 20px;
  text-align: center;
  color: $secondary-text-colour;
  text-transform: capitalize;
  margin-top: -2px;
}
.verified .tag{
  //color: $green;
  //font-weight: bold;

  color: white;
  font-size: 14px;
  font-weight: bold;
  background: $green;

}
.checked .tag{
  color: $orange;
  font-weight: bold;
}

// Parcel list filter - shown when there are lots of parcels. See 'land-long.html'

.table-filter{
  @extend %contain-floats;
  background: $panel-colour;
  padding: 5px 10px;
  margin-top: $gutter;
  label{
    font-weight: bold;
    float: left;
    display: block;
    padding-top: 8px;
  }
  input{
    //margin: 0 10px;
    padding: 4px;
    background-color: $white;
    border: 0px solid $border-colour;

    // Disable webkit appearance and remove rounded corners
    -webkit-appearance: none;
    border-radius: 0;

    width: 75%;
    float: right;
  }
}
