table.parcel-features{
  margin-bottom: $gutter;
  .feature-ref{
    width: 5%;
  }
  .feature-name{
  }
  .feature-area{
  }
  .feature-edit{
    width: 10%;
    text-align: right;
  }
  .feature-delete{
    width: 5%;
    text-align: right;
    padding-right: 0;
    a{
      color: $text-colour;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.delete-link{
  float: right;
  @include core-16;
  margin-top: $gutter-one-third;
}