

.edit-name{
  float: right;
  margin-top: -55px;
  @include core-16;
}

.editable{
  display: inline-block;
  &:after{
    content: "Edit";
    text-decoration: underline;
    float: right;
    padding-top: 16px;
    padding-left: 10px;
    @include core-16;
    color: $link-active-colour;
  }
}

.editable:hover{
  cursor: pointer;
}

#submit-changes .button{
  float: right;
  margin-right: 3px;
  margin-top: 3px;
}
