table.parcel-features{
  margin-bottom: $gutter;
  .feature-ref{
    width: 5%;
  }
  .feature-name{
  }
  .feature-area{
  }
  .feature-edit{
    width: 10%;
    padding-right: 0;
    text-align: right;
  }
}

.delete-link{
  float: right;
  @include core-16;
  margin-top: $gutter-one-third;
}