table.parcels {
  margin: $gutter 0;

  .js-enabled & tbody tr:hover{
    //cursor: pointer;
    //background: $yellow-25;
  }

  .parcel-name {
    a{
      @include core-19;
      font-weight: bold;
    }
  }

  .parcel-cph {
    display: none;
  }

  .parcel-area {
  }

  .parcel-status {
      width: 15%;
      text-align: center;
      &.updated{
        color: $green;
        font-weight: bold;
      }
      &.not-updated{
        color: $secondary-text-colour;
      }
  }

  .parcel-id {
    @include core-14;
    color: $secondary-text-colour;
    display: block;
  }
}
