
// Editable parcel name

.editable{
  display: inline-block;
  &:after{
    content: "Edit";
    text-decoration: underline;
    float: right;
    padding-top: 16px;
    padding-left: 10px;
    @include core-16;
    color: $link-active-colour;
  }
}
.editable:hover{
  cursor: pointer;
}

// List of features in a parcel

table.feature-list{
  .name {
    width: 30%;
  }
  td.cover{
   color: $secondary-text-colour;
  }
  th.cover{
    //text-indent: -9999px;
    //width: 40%;
  }
  .area {
    width: 10%;
    text-align: right;
  }
  .remove{
    width: 4%;
    padding-right: 0;
    text-align: right;
    a{
      color: $secondary-text-colour;
    }
  }
  .totals{
    td{
      border-top: 2px solid $black;
    }
  }
  .unknown{
    color: $secondary-text-colour;
  }
}

.totals{
  font-size: 16px;
  span{
    //display: inline-block;
    //width: 50px;
  }
}

// Footer row below feature list

.feature-footer{
  border-top: 2px solid black;
  margin-top: -1px;
  padding-top: 10px;

  .add-feature-link{
    margin-top: 15px;
  }

  .percent-complete{
    float: right;
    font-size: 16px;
    margin-right: 71px;
    span{
      display: block;
      font-size: 32px;
      font-weight: bold;
    }
  }
}
