table.parcel-features{
  margin-bottom: $gutter;
  td{
    //@include core-19;
  }
  .feature-ref{
    width: 5%;
  }
  .feature-name{
  }
  .feature-area{
  }
  .feature-check{
    width: 10%;
    text-align: right;
    padding-right: 0;
  }
}