ul.parcel-list {
  li {
    padding: $gutter-one-third 0;
    border-bottom: 1px solid $border-colour;

    a{
      font-weight: bold;
    }

    .status {
      float: right;
      &.undefined{
        color: $secondary-text-colour;
        font-style: italic;
      }
    }

  }
}