
.js-enabled .js-row-link tbody tr,
.js-enabled .js-row-select tbody tr{
  &:hover{
    cursor: pointer;
    background: $highlight-colour;
  }
  &.totals:hover{
    cursor: default;
    background: transparent;
  };
  &.highlight,
  &.highlight:hover{
    background-color: $yellow-25;
  }
}