
//
// GOV.UK Elements Updates
//

// Small grey labels for date field. See '/update-personal-details' for example
.date label{
  //font-size: 16px;
  width: auto;
  //color: $secondary-text-colour;
}

// Set font on select boxes
select{
  font-size: 16px;
}

// Make button text align with surrounding inline text
.button{
  vertical-align: baseline;
}

// Trim margins from top and bottom of content in the panel
.panel-indent :last-child{
  margin-bottom: 0;
}
.panel-indent :first-child{
  margin-top: 0;
}

// Make bold form labels the same size as normal ones
.form-label-bold {
  @include bold-19;
}

// Add a new form-control for fixed-width small numbers
.form-control-num{
  width: 70px;
}

// Red inline warning text
.warning-text{
  font-weight: bold;
  color: $mellow-red !important;
}

.secondary-text{
  color: $secondary-text-colour !important;
}

// Gutter below table
table{
  margin-bottom: $gutter;
}


// Link style select boxes
// (these might be evil. Not sure)

select.link-style{
  font-size: 18px;
  //color: $secondary-text-colour;
  color: $link-colour;
  border: 0;
  background: none;
  text-decoration: underline;
  -webkit-appearance: none;
}

//
// GOV.UK Template Updates
//

// Add account link in top-right
#proposition-menu{
  ul{
    list-style-type: none;
    margin: 0;
  }
  li{
    float: left;
  }
  .account-link{
    float: right;
    margin-top: 4px;
    a{
      color: white;
    }
  }
}

// Validation error message box
.validation-error {
 clear: both;
 @include contain-floats;
 border-left: 3px solid $error-colour;
 padding: 15px 15px 0;
 margin-bottom: 15px;
 margin-left: -15px;
}

.validation-error .form-group {
 margin-bottom: 20px;
}

.validation-error p {
 margin: 0 0 10px 0;
}
