.date-of-birth .hint{
  font-size: 16px;
  width: auto;
  color: $secondary-text-colour;
  margin-top: 35px;
}


details{
  margin-bottom: 15px;
}


#proposition-menu{
  ul{
    list-style-type: none;
    margin: 0;
  }
  li{
    float: left;
  }
  .account-link{
    float: right;
    margin-top: 4px;
    a{
      color: white;
    }
  }
}