<%# A two column page, with a 2/1 column ratio %>

<% wrap_layout :layout_template_no_nav do %>

<% parcel = locals[:parcel] %>

  <%= yield_content(:breadcrumbs) %>

  <div class="grid-row">

  <% if content_for?(:column1) %>
    <div class="column-two-thirds">

        <%= yield_content(:column1) %>

    </div>
  <% end %>

  <% if content_for?(:column2) %>
    <div class="column-third">

      <%= yield_content(:column2) %>

    </div>
  <% end %>

  </div>

<% end %>