
    <p class="secondary-text font-xsmall"><span class="link-style secondary-text js-toggle" data-toggle=".note-help">Add a note</span>
      <span class="note-help js-hidden">(optional)</span></p>

    <div class="form-group js-hidden note-help">
      <label for="notes-details" class="form-label visuallyhidden">Notes</label>
      <textarea class="form-control full-width" id="notes-details"></textarea>
    </div>

<br>