<!--
    <div class="form-group">
      <label for="notes-details" class="form-label">Additional notes</label>
      <textarea class="form-control full-width" id="notes-details"></textarea>
    </div>
-->


<div class="form-group">
  <label for="notes-details" class="form-label js-toggle link-style" data-toggle="#notes-details">Add a note</label>
  <textarea class="form-control full-width js-hidden" id="notes-details"></textarea>
</div>