<select name="feature-type" id="feature-type">
  <option value="">Unknown</option>
  <optgroup label="Buildings">
    <option value="2">Building</option>
    <option value="3">Building, rail</option>
    <option value="9">Glasshouse</option>
    <option value="10">Hard standing</option>
    <option value="31">Structure</option>
  </optgroup>
  <optgroup label="Roads, rails and paths">
    <option value="15">Man-made walkway</option>
    <option value="16">Metalled/surfaced track</option>
    <option value="20">Path</option>
    <option value="22">Rail</option>
    <option value="24">Road or track</option>
    <option value="26">Roadside</option>
  </optgroup>
  <optgroup label="Structures">
    <option value="4">Ditch or drain</option>
    <option value="5">Earth bank</option>
    <option value="11">Heap</option>
    <option value="28">Stone wall</option>
    <option value="29">Stone-faced hedgebank</option>
  </optgroup>
  <optgroup label="Land">
    <option value="6">General surface</option>
    <option value="7">General surface,road or track</option>
    <option value="8">Generic eligible area</option>
    <option value="17">Non agricultural land</option>
    <option value="18">Non-coppiced woodland</option>
    <option value="27">Scrub</option>
    <option value="35">Trees (notional)</option>
    <option value="36">Woodland</option>
  </optgroup>
  <optgroup label="Water">
    <option value="13">Inland water, man-made</option>
    <option value="14">Inland water, natural</option>
    <option value="21">Pond</option>
    <option value="23">River</option>
    <option value="30">Stream</option>
    <option value="34">Tidal water</option>
  </optgroup>
  <optgroup label="Other">
    <option value="19">Other</option>
  </optgroup>
</select>