<div class="map-column business-map">
  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/business-zoomed-out.png") %>">
    </div>
  </div>
</div>
