<div id="breadcrumb">
  <ol role="breadcrumbs" class="group">
    <li><a href="/">Rural Payments</a></li>
    <li><a href="/business"><%= data.business.name %></a></li>
    <li><a href="/<%= parcel.id %>"><%= parcel.name %></a></li>
  </ol>
</div>