<div class="map-column business-map">
  <div class="map-wrapper js-stick-at-top-when-scrolling">
    <div class="map">
    <%= partial "partial-map-controls" %>
    <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/business-1-checked.png") %>">
  </div>
</div>