<!--
<div id="breadcrumb">
  <ol role="breadcrumbs" class="group">
    <li><a href="/">Businesses</a></li>
    <li><a href="/business"><%= data.business.name %></a></li>
  </ol>
</div>
-->

<p id="breadcrumb"><a href="/business">Back to <%= data.business.name %></a></p>