<div class="notes">
  <h3><a href="#help-area" class="js-toggle">Don't know the answer?</a></h3>
  <div id="help-area" class="js-hidden">
    <p>Give your best estimate and then describe the size, shape and position of this feature in the box below. Attach an image or document if it's helpful.</p>
    <label for="notes-details" class="visuallyhidden">Enter details here</label>
    <textarea class="form-control full-width" id="notes-details"></textarea>
    <div>
      <a href="#attachment" class="js-toggle">Attach file</a>
      <input type="file" name="attachment" id="attachment" class="js-hidden">
    </div>
  </div>
</div>