<div class="map-column parcel-map">
  <div class="map-wrapper">
    <div class="map">
    <%= partial "partial-map-controls" %>
    <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
  </div>
</div>