
<ul class="js-hidden undo-redo">
  <li><span class="map-button">Undo</span></li>
  <li><span class="map-button">Redo</span></li>
</ul>
<ul class="map-photo">
  <li><span class="map-button">Photo</span></li>
  <li><span class="map-button selected">Map</span></li>
</ul>
<ul class="zoom">
  <li><span class="map-button">+</span></li>
  <li><span class="map-button">−</span></li>
</ul>
<ul class="full-screen">
  <li class="open"><span class="map-button">Show full screen</span></li>
  <li class="close"><span class="map-button">Close full screen</span></li>
</ul>