<select class="land-use-list">
 <option>   </option>
<option>  Fallow  </option>
<option>  Temporary Grass </option>
<option>  Temporary Grass Buffer Strip  </option>
<option>  Sown Mixed Cover Buffer Strip   </option>
<option>  Catch Crop  </option>
<option>  Cover Crop  </option>
<option>  Chickpea  </option>
<option>  Fenugreek </option>
<option>  Field Beans </option>
<option>  Green Beans </option>
<option>  Lentils </option>
<option>  Lupins  </option>
<option>  Peas  </option>
<option>  Soya  </option>
<option>  Cowpea  </option>
<option>  Bird's foot trefoil </option>
<option>  Lucerne </option>
<option>  Sweet Clover  </option>
<option>  Sainfoin  </option>
<option>  Clover  </option>
<option>  Mixed Crop - Leguminous only 1  </option>
<option>  Mixed Crop - Leguminous only 2  </option>
<option>  Mixed Crop - Leguminous only 3  </option>
<option>  Mixed Crop - Leguminous only 4  </option>
<option>  Mixed Crop - Leguminous only 5  </option>
<option>  Barley - Spring </option>
<option>  Basil   </option>
<option>  Beet  </option>
<option>  Borage  </option>
<option>  Buckwheat   </option>
<option>  Canary seed   </option>
<option>  Carrot  </option>
<option>  Celery  </option>
<option>  Chicory   </option>
<option>  Daffodil  </option>
<option>  Dill  </option>
<option>  Evening primrose  </option>
<option>  Fennel  </option>
<option>  Hemp  </option>
<option>  Lettuce   </option>
<option>  Linseed - Spring  </option>
<option>  Maize   </option>
<option>  Millet  </option>
<option>  Oats - Spring </option>
<option>  Onions  </option>
<option>  Oregano   </option>
<option>  Parsley   </option>
<option>  Parsnips  </option>
<option>  Rye - Winter  </option>
<option>  Sage  </option>
<option>  Spinach   </option>
<option>  Strawberry  </option>
<option>  Sweet potato  </option>
<option>  Thyme   </option>
<option>  Triticale - Winter  </option>
<option>  Tulip   </option>
<option>  Wheat - Spring  </option>
<option>  Yam   </option>
<option>  Cabbage   </option>
<option>  Turnip  </option>
<option>  Oilseed - Spring  </option>
<option>  Brown mustard   </option>
<option>  Mustard   </option>
<option>  Crambe  </option>
<option>  Rocket  </option>
<option>  Radish  </option>
<option>  Horseradish   </option>
<option>  Tobacco   </option>
<option>  Potato  </option>
<option>  Tomato  </option>
<option>  Aubergine   </option>
<option>  Pepper  </option>
<option>  Chilli  </option>
<option>  Tree chilli   </option>
<option>  Squash  </option>
<option>  Japanese pie squash   </option>
<option>  Siam pumpkin  </option>
<option>  Banana squash   </option>
<option>  Butternut squash  </option>
<option>  Water melon   </option>
<option>  Cucumber  </option>
<option>  Melon   </option>
<option>  Mixed Crop - Group 1  </option>
<option>  Mixed Crop - Group 2  </option>
<option>  Mixed Crop - Group 3  </option>
<option>  Mixed Crop - Group 4  </option>
<option>  Mixed Crop - Group 5  </option>
<option>  Barley - Winter </option>
<option>  Linseed - Winter  </option>
<option>  Oats - Winter </option>
<option>  Wheat - Winter  </option>
<option>  Oilseed - Winter  </option>
<option>  Service area  </option>
<option>  Watercress  </option>
<option>  Permanent Grassland </option>
<option>  Permanent Grass Buffer Strip  </option>
<option>  Fruits and Nuts and Hops  </option>
<option>  Nursery Crops </option>
<option>  Short Rotation Coppice  </option>

</select>