<!-- Case 1: No messages -->

<!-- Case 2: No unread messages
<p>You have no new messages. <a href="messages">View message list</a></p> -->

<!-- Case 3: 1 unread message -->
<p>You have <strong class="bold-small">1</strong> new message. <a href="message">View message list</a></p>

<!-- Case 4: >1 unread message
<p>You have <strong class="bold-small">3</strong> new messages. <a href="message">View message list</a></p> -->
