<div class="map">
  <div class="map-wrapper">
    <ul class="js-hidden undo-redo">
      <li><span class="map-button">Undo</span></li>
      <li><span class="map-button">Redo</span></li>
    </ul>
    <ul class="map-photo">
      <li><span class="map-button selected">Map</span></li>
      <li><span class="map-button">Photo</span></li>
    </ul>
    <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/business.png") %>">
  </div>
</div>