<select class="land-use-list">
  <option><option>
  <option>Bare fallow after late harvested crops</option>
  <option>Natural regeneration</option>
  <option>Improved grassland</option>
  <option>Unimproved grassland</option>
  <option>Environmentally sensitive grassland / Temp grass in an agri-environment scheme</option>
  <option>Dehydrated Fodder</option>
  <option>Sown grass cover</option>
  <option>Soya beans – fodder </option>
  <option>Temporary Grass</option>
  <option>Beans – broad</option>
  <option>Beans – other</option>
  <option>Beans field (horse/broad) harvested dry </option>
  <option>Lentils</option>
  <option>Terraces</option>
  <option>Buffer Strips</option>
  <option>Sown grass cover</option>
  <option>Sown mixes</option>
  <option>low/no input</option>
  <option>Lettuce</option>
  <option>Beans - soya</option>
  <option>Lupines</option>
  <option>Alfalfa</option>
  <option>Peanuts</option>
  <option>Clover</option>
  <option>Rooibos</option>
  <option>Peas – chick</option>
  <option>Peas – dried</option>
  <option>Peas – green</option>
  <option>Wheat</option>
  <option>Wheat - durum</option>
  <option>Wheat - durum with supplement</option>
  <option>Spelt wheat</option>
  <option>Buckwheat</option>
  <option>Wild Bird cover</option>
  <option>Barley</option>
  <option>Canary seed</option>
  <option>Castor seeds</option>
  <option>Corn</option>
  <option>Dehydrated fodder</option>
  <option>Evening primrose</option>
  <option>Roses</option>
  <option>Rye</option>
  <option>Oats</option>
  <option>Hops</option>
  <option>Flax</option>
  <option>Millet</option>
  <option>Hemp</option>
  <option>Hemp Seed</option>
  <option>Linseed</option>
  <option>Sesame seed</option>
  <option>Sorghum</option>
  <option>Sunflower seed</option>
  <option>Oil poppy/poppy seed</option>
  <option>Potatoes</option>
  <option>Sugar beet</option>
  <option>Maize</option>
  <option>Forage rape</option>
  <option>Rapeseed</option>
  <option>Colza</option>
  <option>Artichokes</option>
  <option>Artichokes – Jerusalem</option>
  <option>Asparagus</option>
  <option>Rhubarb</option>
  <option>Raspberries</option>
  <option>Blackberries</option>
  <option>Mulberries</option>
  <option>Loganberries</option>
  <option>Gooseberries</option>
  <option>Bilberries</option>
  <option>Cranberries</option>
  <option>Strawberries</option>
  <option>Pumpkins</option>
  <option>Melons</option>
  <option>Cherries</option>
  <option>Mirabella's</option>
  <option>Greengages</option>
  <option>Quetsches</option>
  <option>Vegetables</option>
  <option>Aubergine</option>
  <option>Beetroot</option>
  <option>Borage</option>
  <option>Broccoli</option>
  <option>Brussels Sprouts</option>
  <option>Cabbage</option>
  <option>Carrots</option>
  <option>Cauliflowers</option>
  <option>Camomile</option>
  <option>Caraway</option>
  <option>Cardoons</option>
  <option>Celeriac</option>
  <option>Celery</option>
  <option>Chicory roots</option>
  <option>Chicory roots – whitloof </option>
  <option>Chinese Cabbage</option>
  <option>Chives</option>
  <option>Corn salad</option>
  <option>Crambe</option>
  <option>Cress</option>
  <option>Cucumbers</option>
  <option>Daikon</option>
  <option>Edible thistle</option>
  <option>Endives</option>
  <option>Garlic</option>
  <option>Gherkins</option>
  <option>Herbs</option>
  <option>Horseradish</option>
  <option>Figs</option>
  <option>Kale (curly)</option>
  <option>Kohlrabi</option>
  <option>Leeks</option>
  <option>Marrows</option>
  <option>Mushrooms</option>
  <option>Mustard</option>
  <option>Mustard – seed</option>
  <option>Mustard</option>
  <option>Onions</option>
  <option>Pak Choi</option>
  <option>Parsnips</option>
  <option>Radishes</option>
  <option>Safflower</option>
  <option>Salsify</option>
  <option>Scorzonera</option>
  <option>Shallots</option>
  <option>Spinach</option>
  <option>Squash</option>
  <option>Swede</option>
  <option>Sweetcorn</option>
  <option>Sweet capsicum</option>
  <option>Tatsoi</option>
  <option>Tomatoes</option>
  <option>Turnips</option>
  <option>Turnips – French</option>
  <option>Vines</option>
  <option>Grapes</option>
  <option>Lavender</option>
  <option>Miscanthus – other</option>
  <option>Hypericum Perforatum</option>
  <option>Saffron</option>
  <option>Siesamum</option>
  <option>Medicinal plants – aromatic spices </option>
  <option>Medicinal plants</option>
  <option>Parsley</option>
  <option>Phacelia</option>
  <option>Mint</option>
  <option>Lunarium</option>
  <option>Tobacco</option>
  <option>Woad</option>
  <option>Wallflowers</option>
  <option>Watercress</option>
  <option>Zucchini</option>
  <option>Glass house - Crops under glass not on hard standing</option>
  <option>Polytunnel on soil</option>
  <option>Allotments - Commercial (Market Gardens)</option>
  <option>Ditch</option>
  <option>Ditch bank forming part of your holding</option>
  <option>Hedgebank</option>
  <option>Wide hedge field boundary wider than 4 metres </option>
  <option>Stone Wall </option>
  <option>Hedges</option>
  <option>Field margins</option>
  <option>Trees – individual, trunks/stumps</option>
  <option>Trees – scattered</option>
  <option>Trees – clumps</option>
  <option>Pond</option>
  <!--
  <option>Ponds less than 1ha</option>
  <option>Ponds more than or equal to 1ha</option>
  -->
  <option>Bank</option>
  <option>Service Area</option>
  <option>Walkway grass strip between fenced paddock >0.1ha and being grazed</option>
  <option>Solar panels - off the ground on agricultural land</option>
  <option>On hard standing</option>
  <option>TBC</option>
  <option>Permanent grass</option>
  <option>Grazed woodland</option>
  <option>Grazed woodland in an Environmental Stewardship scheme</option>
  <option>Permanent grass used for Dehydrated fodder</option>
  <option>Permanent Pastures (ERDP)</option>
  <option>Self-seeded</option>
  <option>Sown</option>
  <option>Mixed Self-seeded/sown</option>
  <option>Self-seed with shrub</option>
  <option>Self-seed with sparse trees</option>
  <option>Almonds</option>
  <option>Apples - Dessert</option>
  <option>Apples - Cider</option>
  <option>Apricots</option>
  <option>Blackberries</option>
  <option>Blackcurrants</option>
  <option>Cherries</option>
  <option>Figs</option>
  <option>Grapes</option>
  <option>Mirabelles</option>
  <option>Oranges</option>
  <option>Pears (dessert)</option>
  <option>Peaches</option>
  <option>Plums</option>
  <option>Pears (Perry)</option>
  <option>Quinces</option>
  <option>Redcurrants</option>
  <option>Whitecurrents</option>
  <option>Vine and root stock nurseries</option>
  <option>Fruit tree nurseries</option>
  <option>Ornamental nurseries</option>
  <option>Nurseries of forest trees</option>
  <option>Commercial forest tree nurseries</option>
  <option>Commercial forest tree nurseries for the holding’s own requirements grown outside woodland</option>
  <option>Trees and bushes for planting in gardens</option>
  <option>Parks at the road side and on embankments</option>
  <option>Alder (Alnus)</option>
  <option>Ash (Fraxinus excelsior)</option>
  <option>Birch (Betula)</option>
  <option>Hazel (Corylus avellana)</option>
  <option>Hornbeam (Carpinus spp)</option>
  <option>Lime (Tilia cordata)</option>
  <option>Poplar (Populus spp)</option>
  <option>Sweet chestnut (Castanea sativa)</option>
  <option>Sycamore (Acer pseudoplatanus)</option>
  <option>Willow (Salix spp)</option>
  <option>Trees (Christmas)</option>
  <option>Oak</option>
  <option>Beech</option>
  <option>Lime</option>
  <option>Ash</option>
  <option>Maple</option>
  <option>Thorns</option>
  <option>Horse Chestnut</option>
  <option>Bracken</option>
  <option>Woodland Block</option>
  <option>Woodland compartment</option>
  <option>Woodland Sub compartment</option>
  <option>Licence felling area</option>
  <option>Native semi-natural wood</option>
  <option>Mixed woodland</option>
  <option>Ancient Trees</option>
  <option>Wood pasture and Parkland</option>
  <option>Recreational parks - not in a farmed environment</option>
  <option>Recreational parks - in a farmed environment</option>
  <option>Residential gardens</option>
  <option>Urban commons - not part of a farmed environment</option>
  <option>Urban commons - as part of a farmed environment</option>
  <option>National Nature Reserves</option>
  <option>Local Nature Reserves</option>
  <option>Plantation on Ancient woodland site</option>
  <option>Landmark woodland</option>
  <option>Traditional Orchards</option>
  <option>Forestry</option>
  <option>Golf Course - coppice/patch of trees</option>
  <option>ESA woodland</option>
  <option>Walkway grass strip - integral part of woodland</option>
  <option>Woodland margins</option>
  <option>Woodland edges</option>
  <option>Farm Building</option>
  <option>Agricultural shed</option>
  <option>Animal shelter - (Excluding pens for rearing game) on bare soil.</option>
  <option>Animal shelter - on hard standing</option>
  <option>Milking parlour</option>
  <option>Glasshouse - On hard standing</option>
  <option>Cow shed</option>
  <option>Pig sty</option>
  <option>Residential dwelling, House</option>
  <option>Hill fort, Military – Castle</option>
  <option>Rail buildings</option>
  <option>Information/Visitor Centres</option>
  <option>Machinery storage on bare soil</option>
  <option>Polytunnel on hard standing</option>
  <option>Slurry tank</option>
  <option>Solar panel on non-agricultural land</option>
  <option>Septic Tank</option>
  <option>Pylon (fenced off)</option>
  <option>Pylon not fenced off</option>
  <option>Pipelines</option>
  <option>Other</option>
  <option>Mobile Phone Mast</option>
  <option>Great Crested Newt</option>
  <option>Bare soil (Skylark plots)</option>
  <option>Beetle banks</option>
  <option>Drain</option>
  <option>Dyke</option>
  <option>Dyke bank forming part of your holding</option>
  <option>Fence</option>
  <option>Fence - stock proof</option>
  <option>Fence - non stock proof</option>
  <option>Rocky</option>
  <option>Earth bank</option>
  <option>Walled Garden</option>
  <option>Scree</option>
  <option>Boulders</option>
  <option>Rocky outcrop</option>
  <option>Tree - individual</option>
  <option>Trees in a line</option>
  <option>Scattered trees</option>
  <option>Heap - compost - temporary</option>
  <option>Heap - compost - permanent</option>
  <option>Heap - straw, hay, silage, muck- temporary</option>
  <option>Heap - straw, hay, silage, muck - permanent</option>
  <option>Scrub</option>
  <option>Scheduled ancient monuments</option>
  <option>Archaeological feature</option>
  <option>Beetle Banks</option>
  <option>Field corners</option>
  <option>Metalled or surfaced road/footpaths/tracks/bridleways - no permissive access</option>
  <option>Metalled or surfaced road/footpaths/tracks/bridleways - with permissive access (EGWS)</option>
  <option>Roads</option>
  <option>Railway</option>
  <option>Gallop - grass</option>
  <option>Gallop - non grass</option>
  <option>Natural unsurfaced roads, tracks, paths, etc.</option>
  <option>Peat production</option>
  <option>Turf production (fuel)</option>
  <option>Allotments</option>
  <option>Bare soil</option>
  <option>Manmade surfaced roads, tracks, paths, etc.</option>
  <option>Manmade walkway between fenced paddock - not part of woodland management</option>
  <option>Manmade walkway between fenced paddock - part of woodland management such as providing public access</option>
  <option>Worked mineral sites</option>
  <option>Rivers and streams – less than 4 metres wide over the majority of its length used as boundary</option>
  <option>Rivers and streams – Internal less than 4 metres wide over the majority of its length used as boundary</option>
  <option>Rivers and streams more than or equal to 4 metres wide over the majority of its length</option>
  <option>River banks falling inside your holding</option>
  <option>Shingle</option>
  <option>Fen</option>
  <option>Bog</option>
  <option>Salt marshes</option>
  <option>Tidal areas other than salt marshes</option>
  <option>Reed beds</option>
  <option>Intertidal habitats</option>
  <option>Saline habitats</option>
  <option>Sand Dunes</option>
  <option>Zoo - non farmed</option>
  <option>Zoo - farmed</option>
  <option>Reduce tillage</option>
  <option>Reduce inputs</option>
  <option>Reduce grazing</option>
  <option>Airstrip</option>
  <option>Sports Facility</option>
  <option>Farmyards</option>
  <option>Golf course (bunkers, greens, fairways and areas of rough that are part of the playing course)</option>
  <option>Hard Standings</option>
  <option>Hard Standings (EWGS)</option>
</select>