<select class="land-use-list">
<option>    </option>
<option>  Stone Wall  </option>
<option>  Hedges  </option>
<option>  Hedgebank </option>
<option>  Trees in a line </option>
<option>  Bank  </option>
<option>  Trees  individual, trunks/stumps </option>
<option>  Trees  clumps  </option>
<option>  Drain/Ditch/Dyke  </option>
<option>  Pond  </option>
<option>  Scree </option>
<option>  Boulders  </option>
<option>  Rocky outcrop </option>
<option>  Heap - Temporary Use  </option>
<option>  Heap - Permanent Use  </option>
<option>  Non-Agricultural Area </option>
<option>  Oak </option>
<option>  Beech </option>
<option>  Lime  </option>
<option>  Ash </option>
<option>  Maple </option>
<option>  Thorns  </option>
<option>  Horse Chestnut  </option>
<option>  Woodland Block  </option>
<option>  Woodland compartment  </option>
<option>  Woodland Sub compartment  </option>
<option>  Licence felling area  </option>
<option>  Mixed woodland  </option>
<option>  Ancient Trees </option>
<option>  Wood pasture and Parkland </option>
<option>  Recreational parks - not in a farmed environment  </option>
<option>  Recreational parks - in a farmed environment  </option>
<option>  Residential gardens </option>
<option>  Urban commons - not part of a farmed environment  </option>
<option>  Urban commons - as part of a farmed environment </option>
<option>  National Nature Reserves  </option>
<option>  Local Nature Reserves </option>
<option>  Plantation on Ancient woodland site </option>
<option>  Landmark woodland </option>
<option>  Traditional Orchards  </option>
<option>  Scrub </option>
<option>  Native semi-natural wood  </option>
<option>  Forestry  </option>
<option>  Golf Course - coppice/patch of trees  </option>
<option>  ESA woodland  </option>
<option>  Walkway grass strip - integral part of woodland </option>
<option>  Woodland margins  </option>
<option>  Woodland edges  </option>
<option>  Farm Building </option>
<option>  Agricultural shed </option>
<option>  Animal shelter  </option>
<option>  Animal shelter  </option>
<option>  Milking parlour </option>
<option>  Glasshouse  </option>
<option>  Cow shed  </option>
<option>  Pig sty </option>
<option>  Farmyards </option>
<option>  Sheep Fold  </option>
<option>  Residential dwelling, House </option>
<option>  Hill fort, Military  Castle  </option>
<option>  Rail buildings  </option>
<option>  Information/Visitor Centres </option>
<option>  Machinery storage on bare soil  </option>
<option>  Polytunnel on hard standing </option>
<option>  Slurry tank </option>
<option>  Solar panel on non-agricultural land  </option>
<option>  Septic Tank </option>
<option>  Pylon (fenced off)  </option>
<option>  Pylon not fenced off  </option>
<option>  Pipelines </option>
<option>  Other </option>
<option>  Waterworks  </option>
<option>  Mobile Phone Mast </option>
<option>  Hard Standings  </option>
<option>  Real estate services  </option>
<option>  Storage Area  </option>
<option>  Rivers and streams type 1 </option>
<option>  Rivers and streams type 2 </option>
<option>  Rivers and streams type 3 </option>
<option>  Shingle </option>
<option>  Fen Marsh & Swamp </option>
<option>  Bog </option>
<option>  Salt Marsh  </option>
<option>  Tidal areas   </option>
<option>  Reed beds </option>
<option>  Intertidal habitats </option>
<option>  Saline habitats </option>
<option>  Cliffs  </option>
<option>  Vegetated Shingle </option>
<option>  Sand Dunes  </option>
<option>  Metalled Track - permissive access  </option>
<option>  Metalled Track - no permisive access  </option>
<option>  Roads </option>
<option>  Railway </option>
<option>  Airstrip/Airports </option>
<option>  Gallop - grass  </option>
<option>  Gallop - non grass  </option>
<option>  Track - Natural Surface </option>
<option>  Heathland and Bracken </option>
<option>  Zoo - non farmed  </option>
<option>  Zoo - farmed  </option>
<option>  Sports and Recreation </option>
<option>  Golf course   </option>
<option>  Peat production </option>
<option>  Turf production </option>
<option>  Fallow  </option>
<option>  Temporary Grass </option>
<option>  Temporary Grass Buffer Strip  </option>
<option>  Sown Mixed Cover Buffer Strip   </option>
<option>  Catch Crop  </option>
<option>  Cover Crop  </option>
<option>  Chickpea  </option>
<option>  Fenugreek </option>
<option>  Field Beans </option>
<option>  Green Beans </option>
<option>  Lentils </option>
<option>  Lupins  </option>
<option>  Peas  </option>
<option>  Soya  </option>
<option>  Cowpea  </option>
<option>  Bird's foot trefoil </option>
<option>  Lucerne </option>
<option>  Sweet Clover  </option>
<option>  Sainfoin  </option>
<option>  Clover  </option>
<option>  Mixed Crop - Leguminous only 1  </option>
<option>  Mixed Crop - Leguminous only 2  </option>
<option>  Mixed Crop - Leguminous only 3  </option>
<option>  Mixed Crop - Leguminous only 4  </option>
<option>  Mixed Crop - Leguminous only 5  </option>
<option>  Barley - Spring </option>
<option>  Basil   </option>
<option>  Beet  </option>
<option>  Borage  </option>
<option>  Buckwheat   </option>
<option>  Canary seed   </option>
<option>  Carrot  </option>
<option>  Celery  </option>
<option>  Chicory   </option>
<option>  Daffodil  </option>
<option>  Dill  </option>
<option>  Evening primrose  </option>
<option>  Fennel  </option>
<option>  Hemp  </option>
<option>  Lettuce   </option>
<option>  Linseed - Spring  </option>
<option>  Maize   </option>
<option>  Millet  </option>
<option>  Oats - Spring </option>
<option>  Onions  </option>
<option>  Oregano   </option>
<option>  Parsley   </option>
<option>  Parsnips  </option>
<option>  Rye - Winter  </option>
<option>  Sage  </option>
<option>  Spinach   </option>
<option>  Strawberry  </option>
<option>  Sweet potato  </option>
<option>  Thyme   </option>
<option>  Triticale - Winter  </option>
<option>  Tulip   </option>
<option>  Wheat - Spring  </option>
<option>  Yam   </option>
<option>  Cabbage   </option>
<option>  Turnip  </option>
<option>  Oilseed - Spring  </option>
<option>  Brown mustard   </option>
<option>  Mustard   </option>
<option>  Crambe  </option>
<option>  Rocket  </option>
<option>  Radish  </option>
<option>  Horseradish   </option>
<option>  Tobacco   </option>
<option>  Potato  </option>
<option>  Tomato  </option>
<option>  Aubergine   </option>
<option>  Pepper  </option>
<option>  Chilli  </option>
<option>  Tree chilli   </option>
<option>  Squash  </option>
<option>  Japanese pie squash   </option>
<option>  Siam pumpkin  </option>
<option>  Banana squash   </option>
<option>  Butternut squash  </option>
<option>  Water melon   </option>
<option>  Cucumber  </option>
<option>  Melon   </option>
<option>  Mixed Crop - Group 1  </option>
<option>  Mixed Crop - Group 2  </option>
<option>  Mixed Crop - Group 3  </option>
<option>  Mixed Crop - Group 4  </option>
<option>  Mixed Crop - Group 5  </option>
<option>  Barley - Winter </option>
<option>  Linseed - Winter  </option>
<option>  Oats - Winter </option>
<option>  Wheat - Winter  </option>
<option>  Oilseed - Winter  </option>
<option>  Service area  </option>
<option>  Watercress  </option>
<option>  Permanent Grassland </option>
<option>  Permanent Grass Buffer Strip  </option>
<option>  Fruits and Nuts and Hops  </option>
<option>  Nursery Crops </option>
<option>  Short Rotation Coppice  </option>
<option>  Stone Wall  </option>
<option>  Hedges  </option>
<option>  Hedgebank </option>
<option>  Trees in a line </option>
<option>  Bank  </option>
<option>  Trees  individual, trunks/stumps </option>
<option>  Trees  clumps  </option>
<option>  Drain/Ditch/Dyke  </option>
<option>  Pond  </option>
<option>  Scree </option>
<option>  Boulders  </option>
<option>  Rocky outcrop </option>
<option>  Heap - Temporary Use  </option>
<option>  Heap - Permanent Use  </option>
<option>  Non-Agricultural Area </option>
<option>  Oak </option>
<option>  Beech </option>
<option>  Lime  </option>
<option>  Ash </option>
<option>  Maple </option>
<option>  Thorns  </option>
<option>  Horse Chestnut  </option>
<option>  Woodland Block  </option>
<option>  Woodland compartment  </option>
<option>  Woodland Sub compartment  </option>
<option>  Licence felling area  </option>
<option>  Mixed woodland  </option>
<option>  Ancient Trees </option>
<option>  Wood pasture and Parkland </option>
<option>  Recreational parks - not in a farmed environment  </option>
<option>  Recreational parks - in a farmed environment  </option>
<option>  Residential gardens </option>
<option>  Urban commons - not part of a farmed environment  </option>
<option>  Urban commons - as part of a farmed environment </option>
<option>  National Nature Reserves  </option>
<option>  Local Nature Reserves </option>
<option>  Plantation on Ancient woodland site </option>
<option>  Landmark woodland </option>
<option>  Traditional Orchards  </option>
<option>  Scrub </option>
<option>  Native semi-natural wood  </option>
<option>  Forestry  </option>
<option>  Golf Course - coppice/patch of trees  </option>
<option>  ESA woodland  </option>
<option>  Walkway grass strip - integral part of woodland </option>
<option>  Woodland margins  </option>
<option>  Woodland edges  </option>
<option>  Farm Building </option>
<option>  Agricultural shed </option>
<option>  Animal shelter  </option>
<option>  Animal shelter  </option>
<option>  Milking parlour </option>
<option>  Glasshouse  </option>
<option>  Cow shed  </option>
<option>  Pig sty </option>
<option>  Farmyards </option>
<option>  Sheep Fold  </option>
<option>  Residential dwelling, House </option>
<option>  Hill fort, Military  Castle  </option>
<option>  Rail buildings  </option>
<option>  Information/Visitor Centres </option>
<option>  Machinery storage on bare soil  </option>
<option>  Polytunnel on hard standing </option>
<option>  Slurry tank </option>
<option>  Solar panel on non-agricultural land  </option>
<option>  Septic Tank </option>
<option>  Pylon (fenced off)  </option>
<option>  Pylon not fenced off  </option>
<option>  Pipelines </option>
<option>  Other </option>
<option>  Waterworks  </option>
<option>  Mobile Phone Mast </option>
<option>  Hard Standings  </option>
<option>  Real estate services  </option>
<option>  Storage Area  </option>
<option>  Rivers and streams type 1 </option>
<option>  Rivers and streams type 2 </option>
<option>  Rivers and streams type 3 </option>
<option>  Shingle </option>
<option>  Fen Marsh & Swamp </option>
<option>  Bog </option>
<option>  Salt Marsh  </option>
<option>  Tidal areas   </option>
<option>  Reed beds </option>
<option>  Intertidal habitats </option>
<option>  Saline habitats </option>
<option>  Cliffs  </option>
<option>  Vegetated Shingle </option>
<option>  Sand Dunes  </option>
<option>  Metalled Track - permissive access  </option>
<option>  Metalled Track - no permisive access  </option>
<option>  Roads </option>
<option>  Railway </option>
<option>  Airstrip/Airports </option>
<option>  Gallop - grass  </option>
<option>  Gallop - non grass  </option>
<option>  Track - Natural Surface </option>
<option>  Heathland and Bracken </option>
<option>  Zoo - non farmed  </option>
<option>  Zoo - farmed  </option>
<option>  Sports and Recreation </option>
<option>  Golf course   </option>
<option>  Peat production </option>
<option>  Turf production </option>
<option>  Mineral Extraction site </option>

</select>