<h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/help">Help</a></li>
  <li><a href="/cookies">Cookies</a></li>
  <li><a href="/privacy">Privacy policy</a></li>
  <li><a href="/terms">Terms and conditions</a></li>
</ul>
