<div class="inner-block">
  <div class="phase-banner">
    <strong class="phase-tag">BETA:</strong> This is a trial service – your <a href="/feedback">feedback</a> will help us to improve it. <a href="https://www.gov.uk/service-manual/phases/beta">Find out more</a>
  </div>
</div>