<h2 class="visuallyhidden">Support links</h2>
<ul>
  <li><a href="/business-tax-mvp/help">Help</a></li>
  <li><a href="/business-tax-mvp/cookies">Cookies</a></li>
  <li><a href="/business-tax-mvp/contact">Contact HMRC</a></li>
  <li><a href="/business-tax-mvp/privacy">Privacy policy</a></li>
  <li><a href="/business-tax-mvp/terms">Terms and conditions</a></li>
</ul>
