---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1><%= data.business.name %></h1>
    </hgroup>
  </header>

  <p>
    We need to know more about this business before you can apply for any schemes.
    If you don't have the information you can <a href="/business?alert=business-details">skip this step for now</a>.
  </p>


  <form class="form">


    <div class="form-group">
      <p class="heading-small" for="type">What kind of business is this?</p>
      <select>
        <option value="" class="">Select an option</option>
        <option value="" class="">  </option>
        <option value="0">Agency or agent</option>
        <option value="1">Farm</option>
        <option value="2">Airport</option>
        <option value="3">Commons or Graziers Association</option>
        <option value="4">Education Provider/Training</option>
        <option value="5">Importer/Exporter</option>
        <option value="6">Forestry/Woodland Owner</option>
        <option value="7">Central/Local Government</option>
        <option value="8">Horticultural business</option>
        <option value="9">Intervention/Private Storage</option>
        <option value="10">Land Manager</option>
        <option value="11">Leader Group</option>
        <option value="12">Official Receiver/Administrator</option>
        <option value="13">Permanent Sports ground/facility</option>
        <option value="14">Producer Group representative</option>
        <option value="15">Railway services</option>
        <option value="16">Rural Community/Voluntary/Third sector organisation</option>
        <option value="17">Tourism</option>
        <option value="18">Waterworks</option>
        <option value="20">Meat Industry</option>
        <option value="21">Hobby livestock keeper</option>
        <option value="22">Professional livestock keeper</option>
        <option value="19">Not Specified</option>
      </select>
    </div>

    <div class="form-group">
      <p class="heading-small">Does the business operate any of the following?</p>

      <p>An airport, estate agency, permanent sports ground, property development, railway, recreation ground or waterworks.</p>

      <div class="inline">
        <label for="activities-yes" class="block-label">
          <input type="radio" name="activities" id="activities-yes" value="yes" class="js-toggle" data-show="#activities-list">
          Yes
        </label>
        <label for="activities-no" class="block-label">
          <input type="radio" name="activities" id="activities-no" value="no" class="js-toggle" data-hide="#activities-list">
          No
        </label>
      </div>

      <div class="form-group panel-indent js-hidden" id="activities-list">
        <p>Which does it operate?</p>

        <div>
          <label for="ac1" class="form-label">
            <input type="checkbox" name="activites" id="ac1">
            Airport
          </label>

          <label for="ac2" class="form-label">
            <input type="checkbox" name="activites" id="ac2">
            Estate agency
          </label>

          <label for="ac3" class="form-label">
            <input type="checkbox" name="activites" id="ac3">
            Permanent sports ground
          </label>

          <label for="ac4" class="form-label">
            <input type="checkbox" name="activites" id="ac4">
            Property development
          </label>

          <label for="ac5" class="form-label">
            <input type="checkbox" name="activites" id="ac5">
            Railway
          </label>

          <label for="ac6" class="form-label">
            <input type="checkbox" name="activites" id="ac6">
            Recreation ground
          </label>

          <label for="ac7" class="form-label">
            <input type="checkbox" name="activites" id="ac7">
            Waterworks
          </label>
        </div>
      </div>

    </div>


    <div class="form-group">
      <h3 class="heading-small" for="legal-status">What is the legal status of the business?</h3>
        <select>
          <option value="" class="">Select an option</option>
          <option></option>
          <option value="0">Charitable Interest Organisation (CIO)</option>
          <option value="1">Community Interest Company (CIC)</option>
          <option value="2">Central government</option>
          <option value="3">Local government</option>
          <option value="4">Limited Liability Partnership (LLP)</option>
          <option value="5">Limited Partnership (LP)</option>
          <option value="6">Non-UK company</option>
          <option value="7">Partnership</option>
          <option value="8">Private Limited Company (Ltd)</option>
          <option value="9">Public Limited Company (PLC)</option>
          <option value="10">Sole Proprietorship</option>
          <option value="11">The Crown</option>
          <option value="12">Trust</option>
          <option value="13">Unlimited Company (Ultd)</option>
        </select>
        <br><br>
    </div>

    <div class="form-group">
      <label class="heading-small" for="date">What date was the business registered or created on?</label>
      <%= partial "partial-date" %>
    </div>


      <h3 class="heading-small">What countries does this business have land registered in?</h3>

      <div class="form-group">
        <label for="england" class="form-label">
          <input type="checkbox" id="england">
          England
        </label>
        <label for="scotland" class="form-label">
          <input type="checkbox" id="scotland">
          Scotland
        </label>
        <label for="wales" class="form-label">
          <input type="checkbox" id="wales">
          Wales
        </label>
        <label for="northern-ireland" class="form-label">
          <input type="checkbox" id="northern-ireland">
          Northern Ireland
        </label>
      </div>



    <h3 class="heading-small">Is the business registered with Companies House?</h3>

    <div class="form-group">
      <label class="form-label" for="businessCH">If so, give the registration number</label>
      <input type="text" class="form-control form-control-1-2" id="businessCH" name="businessCH" value="">
    </div>

    <h3 class="heading-small">Is the business registered with the Charity Commission?</h3>

    <div class="form-group">
      <label class="form-label" for="businessCC">If so, give the registration number</label>
      <input type="text" class="form-control form-control-1-2" id="businessCC" name="businessCC" value="">
    </div>



      <div class="form-group">
        <a href="business-extra-1" class="button">Continue</a>
      </div>

  </form>


<% end %>

