---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1><%= data.business.name %></h1>
    </hgroup>
  </header>

  <p>Which people are accountable for this business?</p>








    <div class="form-group">
      <a href="business-extra-1" class="button">Continue</a>
    </div>

  </form>


<% end %>

