---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1><%= data.business.name %></h1>
    </hgroup>
  </header>

 <p>Please check that the details for this business are correct.</p>

        <h2 class="heading-medium">Contact details</h2>


        <p>
          Bodmin Agr Ltd.<br>
          Monument Way <br>
          Bodmin <br>
          PL31 1NZ <br>
          United Kingdom
        </p>

        <p>
          <a href="">info@bodminagrltd.co.uk</a> <br>
          Landline: 0300 790 6802<br>
          Mobile: 0300 123 0798<br>
        </p>

        <h2 class="heading-medium">Reference numbers</h2>

        <p>
          Single Business Identifier: 222223250 <br>
          <!--Firm Reference Number: 1100052819 <br>-->
          VAT Registration Number: GB999 9999 73
        </p>


        <h2 class="heading-medium">Are these details correct?</h2>

        <form class="form">
          <div class="form-group inline">
            <label for="correct-yes" class="block-label">
              <input type="radio" name="correct" id="correct-yes" value="yes" class="js-toggle" data-show="#next-yes" data-hide="#next-no">
              Yes
            </label>
            <label for="correct-no" class="block-label">
              <input type="radio" name="correct" id="correct-no" value="no" class="js-toggle" data-show="#next-no" data-hide="#next-yes">
              No
            </label>
          </div>

          <div class="form-group" id="next-yes">
            <a href="business-details-additional" class="button">Continue</a>
          </div>

          <div class="form-group js-hidden" id="next-no">
            <a href="business-details-change" class="button">Continue</a>
          </div>

        </form>


<% end %>

