---
layout: layout-2-1-columns
---

<% content_for :column1 do %>

  <header class="page-header no-breadcrumb">
    <hgroup>
      <h1>Create a new password</h1>
    </hgroup>
  </header>

  <p class="lede">Your security code has been emailed to you.</p>

  <form class="form">

    <div class="form-group">
      <label class="form-label" for="code">Security code
      </label>
      <input type="text" class="form-control form-control-1-4" id="code">
    </div>

    <div class="form-group">
      <label class="form-label" for="custNo">Customer reference number

      </label>
      <input type="text" class="form-control" id="custNo">
    </div>

    <div class="form-group">
      <a href="forgot-password-3" class="button">Continue</a>
    </div>

  </form>

<% end %>
