---
layout: layout-2-1-columns
---

<% content_for :column1 do %>

  <header class="page-header no-breadcrumb">
    <hgroup>
      <h1>Create a new password</h1>
    </hgroup>
  </header>

  <p class="lede">First we need to email you a security code</p>

  <form class="form">

    <div class="form-group">
      <label class="form-label" for="email">Email address
      </label>
      <input type="text" class="form-control form-control-1-2" id="email">
    </div>

    <div class="form-group">
      <a href="forgot-password-2" class="button">Send security code</a>
    </div>

  </form>

<% end %>
