---
layout: layout-2-1-columns
---

<% content_for :column1 do %>

  <header class="page-header no-breadcrumb">
    <hgroup>
      <h1>Create a new password</h1>
    </hgroup>
  </header>

    <p>Create a password that:</p>
    <ul class="list-bullet">
      <li>has a minimum of 8 characters</li>
      <li>contains upper and lower case letters</li>
      <li>contains at least one number or special character, eg & £ % ! 9 ) [ ]</li>
    </ul>

    <form>

    <div class="form-group">
      <label class="form-label" for="pass1">Password
      </label>
      <input type="text" class="form-control form-control-1-2" id="pass1" name="custNo">
    </div>

    <div class="form-group">
      <label class="form-label" for="pass2">Confirm password</label>
      <input type="text" class="form-control form-control-1-2" id="pass2" name="custNo">
    </div>

    <div class="form-group">
      <a href="/" class="button">Create new password</a>
    </div>

  </form>

<% end %>
