---
layout: layout-2-1-columns
---

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Register</h1>
    </hgroup>
  </header>

  <p class="lede">To register, first call the Rural Payments Agency so they can verify your identity over the phone.</p>

  <p class="bold-medium">Call 0800 200 301 to register.</p>


  <p><a href="security" class="button">I've done this</a></p>



  <p>Already registered? <a href="sign-in">Sign in here</a></p>


<% end %>
