---
layout: layout-2-1-columns
---

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Register for rural payments</h1>
    </hgroup>
  </header>

  <p class="lede">To complete your registration call the Rural Payments Agency so they can verify your identity by asking you a few security questions.</p>


  <p class="heading-medium">Call 0675 345 6765 to complete your registration</p>

  <br>

  <p><a href="security-2" class="button">I've done this</a></p>

<% end %>
