---
layout: layout-2-1-columns
---

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Sign in to rural payments</h1>
    </hgroup>
  </header>


  <p>Don't have an account? <a href="register">Register here</a></p>

  <h2 class="heading-medium">Sign in</h2>

  <form class="form">

    <div class="form-group">
      <label class="form-label" for="custNo">Email address</label>
      <input type="text" class="form-control" id="custNo" name="custNo">
    </div>

    <div class="form-group">
      <label class="form-label" for="pass1">Password
      </label>
      <input type="text" class="form-control form-control-1-2" id="pass1" name="custNo">
    </div>

    <p><a href="">Forgotten password?</a></p>

    <div class="form-group">
      <a href="security" class="button">Sign in</a>
    </div>





  </form>

<% end %>
