---
layout: layout-full-width
---

<% content_for :breadcrumbs do %>
  <%= partial(:'partial-breadcrumbs', :locals => { breadcrumb: [{ title: "Home", url: "/" }, { title: data.business.name, url: "/business"}] }) %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Check Ecological Focus Areas</h1>
    </hgroup>
  </header>

  <!--<p class="heading-medium">Your total EFA area is 6.7 per cent of your arable land</p>-->

  <p class="heading-medium">Your total EFA area is 4.2 per cent of your arable land</p>

  <p class="text">Under new EU regulations, farmers must ensure 5 per cent of their land is set aside as an Ecological Focus Area (EFA), instead of being used for farming.</p>

  <ul class="list-bullet">
    <li><a href="/efa-info">Find out more about EFAs and how they're calculated</a></li>
    <li><a href="/land">Add more EFAs to your land parcels</a></li>
  </ul>

  <p>Use the table below to:</p>

  <ul class="list-bullet">
    <li>deselect any features that you can't use as an EFA</li>
    <li>adjust the length of features that you can only use part of</li>
  </ul>



  <form class="" method="post" action="/">

  <table class="efa-table">
    <thead>
      <tr>
        <th class="parcel">Parcel</th>
        <th class="feature">Ecological Focus Area (EFA)</th>
        <th class="feature-area numeric">Area</th>
        <th class="feature-length numeric">Length</th>
        <th class="efa-length numeric">EFA length</th>
        <!--<th class="multiplier">EFA multiplier</th>-->
        <th class="efa-area numeric">EFA area</th>
      </tr>
    </thead>

    <tbody>
      <!-- Start Parcel -->
      <tr>
        <th rowspan="3" scope="row" class="parcel-name"><a href="">Top field</a><br /><span class="parcel-ref">SR123456</span></th>
        <td><label><input type="checkbox" checked> Hedge</label></td>
        <td class="numeric"> n/a </td>
        <td class="numeric"> 15.02 m </td>
        <td class="numeric"> <input type="text" class="form-control" size=5 value="15.02"> m </td>
        <td class="efa-area numeric">0.32 ha</td>
      </tr>
      <tr>
        <td><label><input type="checkbox" checked> Hedge</label></td>
        <td class="numeric"> n/a </td>
        <td class="numeric"> 12.23 m </td>
        <td class="numeric"> <input type="text" class="form-control" size=5 value="12.23"> m </td>
        <td class="efa-area numeric">0.24 ha</td>
      </tr>
      <tr>
        <td><label><input type="checkbox" checked> Peas</label></td>
        <td class="numeric"> 6.4 ha </td>
        <td class="numeric">n/a</td>
        <td class="numeric">n/a</td>
        <td class="efa-area numeric">5.20 ha</td>
      </tr>

      <!-- Start Parcel -->
      <tr>
        <th rowspan="2" scope="row" class="parcel-name"><a href="">Bottom field<a/><br /><span class="parcel-ref">SR234567</span></th>
        <td><label><input type="checkbox" checked> Buffer strip</label></td>
        <td class="numeric"> n/a </td>
        <td class="numeric"> 32.24 m </td>
        <td class="numeric"> <input type="text" class="form-control" size=5 value="32.24"> m </td>
        <td class="efa-area numeric">0.45 ha</td>
      </tr>

      <tr class="separator">
        <td><label><input type="checkbox" checked> Radishes</label></td>
        <td class="numeric"> 1.2 ha </td>
        <td class="numeric">n/a</td>
        <td class="numeric">n/a</td>
        <td class="efa-area numeric">0.30 ha</td>
      </tr>




      <tr class="total">
        <th class="numeric" colspan=5>Total EFA area as a percentage of arable land</th>
        <td class="efa-area numeric"><span class="bold-medium">4.2%</span></td>
      </tr>

    </tbody>
  </table>

  </form>


<% end %>

<% content_for :column2 do %>

<% end %>