---
layout: layout-full-width
---

<% content_for :breadcrumbs do %>
  <%= partial(:'partial-breadcrumbs', :locals => { breadcrumb: [{ title: "Home", url: "/" }, { title: data.business.name, url: "/business"}] }) %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Ecological Focus Areas (EFAs)</h1>
    </hgroup>
  </header>

  <!--<p class="heading-medium">Your total EFA area is 6.7 per cent of your arable land</p>-->

  <h2 class="heading-medium">Your total EFA area is 4.2% of your arable land</h2>

  <p class="text">This does not meet the 5% greening requirement.</p>
  <p>
    <a href="/land">Add more EFAs to your land</a>.
  </p>


  <h2 class="heading-medium">Check your Ecological Focus Areas</h2>

  <p class="text">
    Use the table to deselect any features that you can't use as an EFA
    or change the EFA length of any hedges.
  </p>


  <details class="text">
    <summary>How to calculate the EFA length of a hedge</summary>
    <div class="panel-indent">

      <p>
        The assumed EFA length is equivalent to one side of the hedge.
      </p>
      <p>
        Increase this amount if you want to use the other side of the hedge as well,
        or decrease the amount if parts of the hedge are not next to arable land.
      </p>

    </div>

  </details>


<!--

  <ul>
    <li></li>
    <li></li>
  </ul>
-->


  <form class="" method="post" action="/">

  <table class="efa-table">
    <thead>
      <tr>
        <th class="parcel">Parcel</th>
        <th class="feature">Ecological Focus Area (EFA)</th>
        <th class="feature-length numeric">Length (m)</th>
        <th class="feature-area numeric">Area (ha)</th>
        <th class="efa-length numeric">EFA length (m)</th>
        <th class="efa-area numeric">EFA area (ha)</th>
      </tr>
    </thead>

    <tbody>
      <!-- Start Parcel -->
      <tr class="highlight">
        <th rowspan="3" scope="row" class="parcel-name">Top field<br /><span class="parcel-ref">SR123456</span></th>
        <td><label><input type="checkbox" checked class="js-select-row"> Hedge</label></td>
        <td class="numeric"> 15.02 </td>
        <td class="numeric"> n/a </td>
        <td class="numeric"> <input type="text" class="form-control" size=5 value="15.02"></td>
        <td class="efa-area numeric">0.32</td>
      </tr>
      <tr class="highlight">
        <td><label><input type="checkbox" checked class="feature-selected js-select-row"> Hedge</label></td>
        <td class="numeric"> 12.23 </td>
        <td class="numeric"> n/a </td>
        <td class="numeric"> <input type="text" class="form-control" size=5 value="12.23"> </td>
        <td class="efa-area numeric">0.24</td>
      </tr>
      <tr class="highlight">
        <td><label><input type="checkbox" checked class="js-select-row"> Peas</label></td>
        <td class="numeric">n/a</td>
        <td class="numeric"> 6.4 </td>
        <td class="numeric">n/a</td>
        <td class="efa-area numeric">5.20</td>
      </tr>

      <!-- Start Parcel -->
      <tr class="highlight">
        <th rowspan="2" scope="row" class="parcel-name">Bottom field<br /><span class="parcel-ref">SR234567</span></th>
        <td><label><input type="checkbox" checked class="js-select-row"> Buffer strip</label></td>
        <td class="numeric"> n/a </td>
        <td class="numeric"> 0.5 </td>
        <td class="numeric"> n/a </td>
        <td class="efa-area numeric">0.45</td>
      </tr>

      <tr class="separator highlight">
        <td><label><input type="checkbox" checked class="js-select-row"> Radishes</label></td>
        <td class="numeric">n/a</td>
        <td class="numeric"> 1.2 </td>
        <td class="numeric">n/a</td>
        <td class="efa-area numeric">0.30</td>
      </tr>

      <tr class="total">
        <th class="numeric" colspan=5>Total EFA area as a percentage of arable land:</th>
        <td class="efa-area numeric">
          <div id="efa-percent" class="bold-medium js-hidden">4.2%</div>
          <span id="calculate">
            <span class="calculate-button js-toggle" data-hide="#calculate" data-show="#efa-percent">Calculate</span>
          </span>
        </td>
      </tr>

    </tbody>
  </table>

  </form>


<p><a href="" class="button">Save changes</a></p>

<% end %>

<% content_for :column2 do %>

<% end %>