---
layout: layout-2-1-columns
---


<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Check your personal details</h1>
    </hgroup>
  </header>

        <p class="lede">Please check that these details are correct.</p>


        <h2 class="heading-medium">Personal details</h2>

        <p>
          Name: Mr John Smith<br>
          Date of birth: 6 March 1947<br>
          Nationality: British</p>

        <h2 class="heading-medium">Contact details</h2>

        <p>
          Bodmin Agr Ltd.<br>
          Monument Way <br>
          Bodmin <br>
          PL31 1NZ <br>
          United Kingdom
        </p>

        <p>
          <a href="">jsmith@bodminagrltd.co.uk</a> <br>
          Landline: 0300 790 6802<br>
          Mobile: 0300 123 0798<br>
        </p>


        <h2 class="heading-medium">Are these details correct?</h2>

        <form class="form">
          <div class="form-group inline">
            <label for="correct-yes" class="block-label">
              <input type="radio" name="correct" id="correct-yes" value="yes" class="js-toggle" data-show="#next-yes" data-hide="#next-no">
              Yes
            </label>
            <label for="correct-no" class="block-label">
              <input type="radio" name="correct" id="correct-no" value="no" class="js-toggle" data-show="#next-no" data-hide="#next-yes">
              No
            </label>
          </div>

          <div class="form-group" id="next-yes">
            <a href="/" class="button">Continue</a>
          </div>

          <div class="form-group js-hidden" id="next-no">
            <a href="personal-details-change" class="button">Continue</a>
          </div>

        </form>


<% end %>

