---
layout: layout-full-width
---

<% content_for :breadcrumbs do %>
  <p id="breadcrumb"><a href="/bps-application/scheme-eligibility">Back to apply for basic payment scheme</a></p>
<% end %>

<% content_for :column1 do %>

<div class="grid-row">
  <div class="column-two-thirds">
    <header class="page-header">
      <hgroup>
        <h1>Application warnings</h1>
      </hgroup>
    </header>
  </div>
</div>

    <div class="alert-error" role="alert">
      <span class="icon icon-cross" role="presentation"></span>
      <div class="alert-message">

        <h2 class="heading-medium text">Address these warnings to make sure you get a <abbr title="Basic Payment Scheme">BPS</abbr> payment</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, nulla!</p>
        <p>Architecto quas, vitae est omnis aliquid pariatur. Distinctio consequatur, nobis.</p>
        <p>Assumenda laudantium qui vero architecto deleniti alias corporis, explicabo soluta.</p>
        <p class="link"><a href="#0">Business Details</a></p>

        <p>Architecto quas, vitae est omnis aliquid pariatur. Distinctio consequatur, nobis.</p>
        <p>Assumenda laudantium qui vero architecto deleniti alias corporis, explicabo soluta.</p>
        <p class="link"><a href="#0">Title of section to address issues</a></p>

      </div>
    </div>

    <div class="alert-info" role="alert">
      <span class="icon icon-cross" role="presentation"></span>
      <div class="alert-message">
        <h2 class="heading-medium text">Address these warnings or your payment may be reduced</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, nulla!</p>
        <p>Architecto quas, vitae est omnis aliquid pariatur. Distinctio consequatur, nobis.</p>
        <p>Assumenda laudantium qui vero architecto deleniti alias corporis, explicabo soluta.</p>
        <p class="link"><a href="#0">How to submit evidence</a></p>

        <p>Architecto quas, vitae est omnis aliquid pariatur. Distinctio consequatur, nobis.</p>
        <p>Assumenda laudantium qui vero architecto deleniti alias corporis, explicabo soluta.</p>


      </div>
    </div>

    <div class="alert-message">
        <h2 class="heading-medium text">Information you may wish to correct before applying for BPS</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, nulla!</p>
        <p>Architecto quas, vitae est omnis aliquid pariatur. Distinctio consequatur, nobis.</p>
        <p>Assumenda laudantium qui vero architecto deleniti alias corporis, explicabo soluta.</p>
        <p class="link"><a href="#0">Tell us about your organic status</a></p>

        <p>Architecto quas, vitae est omnis aliquid pariatur. Distinctio consequatur, nobis.</p>
        <p>Assumenda laudantium qui vero architecto deleniti alias corporis, explicabo soluta.</p>


      </div>


      <p><a class="button" href="/bps-application/application-summary">Continue</a></p>

<% end %>
