---
layout: layout-full-width
---

<% content_for :breadcrumbs do %>
  <p id="breadcrumb"><a href="/bps-application/application-warnings">Back to application warnings</a></p>
<% end %>

<% content_for :column1 do %>

<div class="grid-row">
  <div class="column-two-thirds">
    <header class="page-header">
      <hgroup>
        <h1>Basic payment scheme application</h1>
      </hgroup>
    </header>

    <p class="lede">Check that this information is correct before submitting your basic payment scheme application.</p>
  </div>
</div>

  <h2 class="summary-item-heading">Business details</h2>

  <p class="summary-item-top-level-action">
    <a href="" class="summary-change-link">Change <span class="visuallyhidden"> business details</span></a>
  </p>

  <table class="summary-item-body">
    <tbody class="summary-item">
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Business name</span>
        </th>
        <td class="summary-item-field-content">
          Bodmin Agri Ltd.
        </td>
        <td class="summary-item-field-action">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>SBI</span>
        </th>
        <td class="summary-item-field-content">
          1234567890
        </td>
        <td class="summary-item-field-action">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Business address</span>
        </th>
        <td class="summary-item-field-content">
          Bodmin Agr Ltd.<br />
          Monument Way<br />
          Bodmin<br />
          PL31 1NZ<br />
          United Kingdom
        </td>
        <td class="summary-item-field-action">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>'Active farmer' requirements</span>
        </th>
        <td class="summary-item-field-content">
          Met
        </td>
        <td class="summary-item-field-action">
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="summary-item-heading">Payment</h2>

  <table class="summary-item-body">
    <tbody class="summary-item">
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Currency to be paid in</span>
        </th>
        <td class="summary-item-field-content">
          Pounds (&pound;)
        </td>
        <td class="summary-item-field-action">
          <a href="">Change<span class="visuallyhidden"> currency</span></a>
        </td>
      </tr>
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Apply for young farmer payment</span>
        </th>
        <td class="summary-item-field-content">
          No
        </td>
        <td class="summary-item-field-action">
          <a href="">Change<span class="visuallyhidden"> currency</span></a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="summary-item-heading">Land and entitlements</h2>

  <table class="summary-item-body">
    <tbody class="summary-item">
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Is any of this land coded SA2/SA3?</span>
        </th>
        <td class="summary-item-field-content">
          No
        </td>
        <td class="summary-item-field-action">
          <a href="#">Change <span class="visually hidden">SA2/SA3 declaration</span></a>
        </td>
      </tr>
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Apply for new entitlements</span>
        </th>
        <td class="summary-item-field-content">
          No
        </td>
        <td class="summary-item-field-action">
          <a href="">Change<span class="visuallyhidden"> new entitlements application</span></a>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="summary-land-entitlements">
    <thead>
      <tr>
        <th class="region">Region</th>
        <th class="total-area numeric">Total area (ha)</th>
        <th class="eligible-area numeric">Eligible area (ha)</th>
        <th class="total-entitlements numeric">Total entitlements</th>
        <th class="activated-entitlements numeric">Activated entitlements</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Non-severely disadvantaged area (Non-SDA)</th>
        <td class="numeric">250.23</td>
        <td class="numeric">225.43</td>
        <td class="numeric">230.00</td>
        <td class="numeric">225.00</td>
      </tr>
    </tbody>
  </table>

  <p><a href="/bps-application/land-table-data">Change your active entitlements</a></p>

  <h2 class="summary-item-heading">Greening</h2>

  <table class="summary-item-body">
    <tbody class="summary-item">
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Crop diversification requirement</span>
        </th>
        <td class="summary-item-field-content">
          Met
        </td>
        <td class="summary-item-field-action">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Arable land cover</span>
        </th>
        <td class="summary-item-field-content">
          230.00ha
        </td>
        <td class="summary-item-field-action">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Required EFA cover</span>
        </th>
        <td class="summary-item-field-content">
          11.50ha (5%)
        </td>
        <td class="summary-item-field-action">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Declared EFA cover</span>
        </th>
        <td class="summary-item-field-content">
          15.32ha (6.7%)
        </td>
        <td class="summary-item-field-action">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Use organic land for EFAs</span>
        </th>
        <td class="summary-item-field-content">
          No
        </td>
        <td class="summary-item-field-action">
          <a href="#">Change <span class="visuallyhidden">organic land exemption</span></a>
        </td>
      </tr>
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Exempt from crop diversification</span>
        </th>
        <td class="summary-item-field-content">
          No
        </td>
        <td class="summary-item-field-action">
          <a href="#">Change <span class="visuallyhidden">crop diversification exemption</span></a>
        </td>
      </tr>

    </tbody>
  </table>

  <p><a href="/efas">Check your EFAs</a></p>

  <h2 class="summary-item-heading">Cross compliance</h2>

  <p class="summary-item-top-level-action">
    <a href="" class="summary-change-link">Change <span class="visuallyhidden"> cross compliance</span></a>
  </p>

  <table class="summary-item-body">
    <tbody class="summary-item">
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Statutory management requirements (SMR)</span>
        </th>
        <td class="summary-item-field-content">
          <ul class="list-bullet">
            <li>SMR1 – Nitrate vulnerable zones</li>
            <li>SMR2 – Wild birds</li>
            <li>SMR6 – Pig identification and registration</li>
            <li>SMR12 – Welfare of pigs</li>
          </ul>
        </td>
        <td class="summary-item-field-action">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Good agriculture and environment conditions (GAEC)</span>
        </th>
        <td class="summary-item-field-content">
          None
        </td>
        <td class="summary-item-field-action">
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="summary-item-heading">Land in other countries</h2>

  <p class="summary-item-top-level-action">
    <a href="" class="summary-change-link">Change <span class="visuallyhidden"> cross border declaration</span></a>
  </p>

  <table class="summary-item-body">
    <tbody class="summary-item">
      <tr class="summary-item-row">
        <th class="summary-item-field-name" scope="row">
          <span>Does this business have any land in other countries?</span>
        </th>
        <td class="summary-item-field-content">
          No
        </td>
        <td class="summary-item-field-action">
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>

  <div class="grid-row">
    <div class="column-two-thirds">

      <p>You can't amend or withdraw your application at the moment, but you will be able to soon.</p>

      <p><a href="#" class="button button-get-started">Submit your application</a></p>

    </div>
  </div>

<% end %>
