---
layout: layout-full-width
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-business" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Basic payment application</h1>
    </hgroup>
  </header>

  <h2 class="summary-item-heading">Business details</h2>

  <p class="summary-item-top-level-action">
    <a href="" class="summary-change-link">Edit <span class="visuallyhidden"> business details</span></a>
  </p>

  <table class="summary-item-body">
    <thead class="summary-item-field-headings">
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Content
        </th>
      </tr>
    </thead>
    <tbody class="summary-item">
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <span>Business name</span>
        </td>
        <td class="summary-item-field-content">
          Bodmin Agri Ltd.
        </td>
        <td class="summary-item-action-field">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <span>SBI</span>
        </td>
        <td class="summary-item-field-content">
          1234567890
        </td>
        <td class="summary-item-action-field">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <span>Business address</span>
        </td>
        <td class="summary-item-field-content">
          Bodmin Agr Ltd.<br />
          Monument Way<br />
          Bodmin<br />
          PL31 1NZ<br />
          United Kingdom
        </td>
        <td class="summary-item-action-field">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <span>Business activities</span>
        </td>
        <td class="summary-item-field-content">
          Active farming business
        </td>
        <td class="summary-item-action-field">
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="summary-item-heading">Currency</h2>

  <table class="summary-item-body">
    <thead class="summary-item-field-headings">
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Content
        </th>
      </tr>
    </thead>
    <tbody class="summary-item">
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <span>Currency to be paid in</span>
        </td>
        <td class="summary-item-field-content">
          Pounds
        </td>
        <td class="summary-item-action-field">
          <a href="">Change<span class="visuallyhidden"> currency</span></a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="summary-item-heading">Young farmer</h2>

  <table class="summary-item-body">
    <thead class="summary-item-field-headings">
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Content
        </th>
      </tr>
    </thead>
    <tbody class="summary-item">
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <span>Young farmer payment applied for</span>
        </td>
        <td class="summary-item-field-content">
          No
        </td>
        <td class="summary-item-action-field">
          <a href="">Change<span class="visuallyhidden"> currency</span></a>
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="summary-item-heading">Land and entitlements</h2>

  <table class="summary-item-body">
    <thead class="summary-item-field-headings">
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Content
        </th>
      </tr>
    </thead>
    <tbody class="summary-item">
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <span>Total land</span>
        </td>
        <td class="summary-item-field-content">
          300.00ha
        </td>
        <td class="summary-item-action-field">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <span>Available entitlements</span>
        </td>
        <td class="summary-item-field-content">
          300.00
        </td>
        <td class="summary-item-action-field">
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="summary-item-heading">Greening</h2>

  <table class="summary-item-body">
    <thead class="summary-item-field-headings">
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Content
        </th>
      </tr>
    </thead>
    <tbody class="summary-item">
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <span>Crop diversification requirement</span>
        </td>
        <td class="summary-item-field-content">
          Met
        </td>
        <td class="summary-item-action-field">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <span>EFA cover</span>
        </td>
        <td class="summary-item-field-content">
          5%
        </td>
        <td class="summary-item-action-field">
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="summary-item-heading">Cross compliance</h2>

  <p class="summary-item-top-level-action">
    <a href="" class="summary-change-link">Edit <span class="visuallyhidden"> cross compliance</span></a>
  </p>

  <table class="summary-item-body">
    <thead class="summary-item-field-headings">
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Content
        </th>
      </tr>
    </thead>
    <tbody class="summary-item">
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <span>Statutory management requirements (SMRs)</span>
        </td>
        <td class="summary-item-field-content">
          <ul class="list-bullet">
            <li>SMR1 – Nitrate vulnerable zones</li>
            <li>SMR2 – Wild birds</li>
            <li>SMR6 – Pig identification and registration</li>
            <li>SMR12 – Welfare of pigs</li>
          </ul>
        </td>
        <td class="summary-item-action-field">
          &nbsp;
        </td>
      </tr>
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <span>Good management requirements (GMACS)</span>
        </td>
        <td class="summary-item-field-content">
          None
        </td>
        <td class="summary-item-action-field">
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>

  <h2 class="summary-item-heading">SA2/SA3</h2>

  <p class="summary-item-top-level-action">
    <a href="" class="summary-change-link">Edit <span class="visuallyhidden"> SA2/SA3</span></a>
  </p>

  <table class="summary-item-body">
    <thead class="summary-item-field-headings">
      <tr>
        <th scope="col">
          Name
        </th>
        <th scope="col">
          Content
        </th>
      </tr>
    </thead>
    <tbody class="summary-item">
      <tr class="summary-item-row">
        <td class="summary-item-field-name">
          <span>SA2/SA3</span>
        </td>
        <td class="summary-item-field-content">
          <a href="#">Answer required</a>
        </td>
        <td class="summary-item-action-field">
          &nbsp;
        </td>
      </tr>
    </tbody>
  </table>

<% end %>
