---
layout: layout-full-width
---

<% content_for :breadcrumbs do %>
  <p id="breadcrumb"><a href="/bps-application/scheme-eligibility">Back to apply for basic payment scheme</a></p>
<% end %>

<% content_for :column1 do %>

<div class="grid-row">
  <div class="column-two-thirds">
    <header class="page-header">
      <hgroup>
        <h1>Application warnings</h1>
      </hgroup>
    </header>
  </div>
</div>

    <div class="alert-error" role="alert">
      <span class="icon icon-cross" role="presentation"></span>
      <div class="alert-message">

        <h2 class="heading-medium text">Check these warnings to make sure you get a <abbr title="basic payment scheme">BPS</abbr> payment</h2>

        <p><span class="visuallyhidden">p1</span>Based on the information you've given us, you have less than 5 hectares of eligible agricultural land. </p>
<p>You might meet the minimum claim size if you also have eligible land in Scotland, Wales or Northern Ireland, or if you have rights to graze common land.</p>
        <p class="link"><a href="#0">Update land use</a></p>        
        <p><span class="visuallyhidden">p5</span>Based on the information you've given us, you still need to show 5 hectares or more of eligible agricultural land or entitlements across SDA, non-SDA and moorland.</p>
        <p class="link"><a href="#0">Activate entitlements</a></p>
        

      </div>
    </div>

    <div class="alert-info" role="alert">
      <span class="icon icon-cross" role="presentation"></span>
      <div class="alert-message">
        <h2 class="heading-medium text">Check these warnings or you may get a smaller <abbr title="basic payment scheme">BPS</abbr> payment than you should</h2>

        <p><span class="visuallyhidden">y6</span>Based on the information you've given us, you might qualify as a young farmer, but you haven't given us all the evidence yet.</p>
        <p class="link"><a href="#0">How to submit evidence</a></p>
        <p><span class="visuallyhidden">a2</span>You need to send us more supporting evidence to show which crops were grown on the land last year.</p>
        <p class="link"><a href="#0">How to submit evidence</a></p>


      </div>
    </div>

    <div class="alert-message">
        <h2 class="heading-medium text">Information you may wish to correct before applying for BPS</h2>

        <p><span class="visuallyhidden">p3</span>You need to check the size of the parcel share you've entered. The total size of the shares doesn't match the size of the parcel.</p>
        <p class="link"><a href="#0">Check your parcels</a></p>


      </div>


      <p><a class="button" href="/bps-application/application-summary">Continue</a></p>

<% end %>
