---
layout: layout-full-width
---

<% content_for :breadcrumbs do %>
  <p id="breadcrumb"><a href="/bps-application/application-summary">Back to application summary</a></p>
<% end %>

<% content_for :column1 do %>

<div class="grid-row">
  <div class="column-two-thirds">
    <header class="page-header">
      <hgroup>
        <h1>Terms and conditions
          <span class="heading-secondary ng-binding">Willow Farm</span>
        </h1>
      </hgroup>
    </header>
  </div>
</div>
    
       
<div class="text">
        <p>You must read the declaration below and confirm that you understand, agree and are complying with the following conditions before submitting your application.</p>
        <p class="text panel-indent">The Rural Payments Agency (RPA) can only pay you if you agree with these conditions and comply with them.</p>       
        <p>If you make a false declaration, or if you do not tell us about a change to the information in this application, you may be liable to prosecution.</p>
        <p>A false, inaccurate or incomplete statement or failure to notify RPA of any change to the information given in this application may result in loss of entitlement and/or recovery of any payments made.</p
        <h3 class="heading-medium">Declaration:</h3>
        <p>I confirm that I am a farmer as defined in Article 4 of Regulation (EU) 1307/2013.</p>
        <p>I understand that my holding may be inspected and I must allow access, co-operate and give assistance as requested.</p>
        <p>I have told RPA about all the farming business interests held by any members of this business.</p>
        <p>I have read and understood all of the relevant guidance information, and confirm that all the details given on the application, including any supporting documents are true, accurate and completed to the best of my knowledge and belief.
        <p>I confirm that I have declared all of the land on my holding in this application.</p>
        <p>I confirm that the land in this application is or will be at my disposal on 15 May 2015.</p>
        <p>I confirm that I am aware of the conditions pertaining to the direct payment schemes in respect of this application, including those relating to cross compliance and greening.</p>
        <p>If there is any change to the information in this application, I will tell RPA.</p>
        <p>I confirm that this application supersedes any previous application made by me for direct payments (basic payment scheme, greening and where relevant, young farmers payment) in 2015, and that any such previous application is hereby withdrawn.</p>
        <h4 class="heading-small">Agents and helpers</h4>
        <p>If you are submitting the application on behalf of the beneficiary you must confirm the declaration below. You will then be able to submit the application.</p>
        <p>I confirm that I have:</p>
        <ul class="list-alpha">
          <li>drawn to the attention of the beneficiary(s) the conditions that apply to this application, including those for cross compliance and greening; and</li>
          <li>made the beneficiary(s) aware that they are responsible for complying with those conditions.</li>
        </ul>
        <h3 class="heading-medium">By submitting this application I agree with the declaration statement above.</h3>
        <p>If you have not given us your bank account details, you won’t be paid.</p>
        
        <p><a class="button" href="/bps-application/application-summary">Submit application</a></p>
        <p><a id="back-to-scheme-eligibility" ui-sref="organisation.menu.scheme-eligibility.main" href="#">Save and go to scheme eligibility</a></p>
            
</div>
      
<% end %>
