@import 'assets/govuk_frontend_toolkit/stylesheets/colours';
@import 'assets/govuk_frontend_toolkit/stylesheets/typography';
@import 'assets/govuk_frontend_toolkit/stylesheets/measurements';
@import 'assets/govuk_frontend_toolkit/stylesheets/css3';
@import 'assets/govuk_frontend_toolkit/stylesheets/conditionals';

@import 'assets/govuk_frontend_toolkit/stylesheets/design-patterns/buttons';
@import 'assets/govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta';

// based on Whitehall - dept colours and logos
@import 'departments';

// match www.gov.uk footer links (_footer_top.html)
@import 'alphagov-static-footer';

// govuk_toolkit - media player styles
@import 'assets/govuk_frontend_toolkit/stylesheets/design-patterns/media-player.scss';

// general items
.button {
  @include button;
}

// phase banner
.phase-banner {
  @include phase-banner;

  span {
    text-transform: uppercase;
    font-weight: 700;
  }
}

// Main central container element (main element must be unique in the page):
main {
  max-width: 960px;
  margin: 0 auto;
  padding: 0.5em 15px;
}