@import '../govuk_frontend_toolkit/stylesheets/colours';
@import '../govuk_frontend_toolkit/stylesheets/conditionals';
@import '../govuk_frontend_toolkit/stylesheets/css3';
@import '../govuk_frontend_toolkit/stylesheets/device-pixels';
@import '../govuk_frontend_toolkit/stylesheets/font_stack';
@import '../govuk_frontend_toolkit/stylesheets/measurements';
@import '../govuk_frontend_toolkit/stylesheets/shims';
@import '../govuk_frontend_toolkit/stylesheets/typography';

@import '../govuk_frontend_toolkit/stylesheets/design-patterns/buttons';
@import '../govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta';
@import '../govuk_frontend_toolkit/stylesheets/design-patterns/media-player';

// based on Whitehall - dept colours and logos
@import 'departments';

// match www.gov.uk footer links (_footer_top.html)
@import 'alphagov-static-footer';

// govuk helper styles - see https://github.com/alphagov/design-patterns/tree/gh-pages/assets/sass/govuk-helper
@import 'govuk-helper/govuk-helper';

body {
  @include copy-19;
}

//
// phase banner
//
.phase-banner {
  @include phase-banner;

  span {
    text-transform: uppercase;
    font-weight: 700;
  }
}

//
// phase tag
//
.phase-tag {
  @include phase-tag;
}

// Main central container element (main element must be unique in the page):
.main {
  max-width: 960px;
  padding: $gutter $gutter $gutter*3 $gutter;
}