@import '../govuk_frontend_toolkit/stylesheets/colours';
@import '../govuk_frontend_toolkit/stylesheets/conditionals';
@import '../govuk_frontend_toolkit/stylesheets/css3';
@import '../govuk_frontend_toolkit/stylesheets/device-pixels';
@import '../govuk_frontend_toolkit/stylesheets/font_stack';
@import '../govuk_frontend_toolkit/stylesheets/measurements';
@import '../govuk_frontend_toolkit/stylesheets/shims';
@import '../govuk_frontend_toolkit/stylesheets/typography';

@import '../govuk_frontend_toolkit/stylesheets/design-patterns/buttons';
@import '../govuk_frontend_toolkit/stylesheets/design-patterns/alpha-beta';
@import '../govuk_frontend_toolkit/stylesheets/design-patterns/media-player';

// based on Whitehall - dept colours and logos
@import 'departments';

// match www.gov.uk footer links (_footer_top.html)
@import 'alphagov-static-footer';

// govuk_toolkit - media player styles
@import 'assets/govuk_frontend_toolkit/stylesheets/design-patterns/media-player.scss';

// govuk helper styles - see https://github.com/alphagov/design-patterns/tree/gh-pages/assets/sass/govuk-helper
@import 'govuk-helper/govuk-helper';

@import 'typography';
@import 'layout';
@import 'business-search';
@import 'business-list';
@import 'global-breadcrumb';
@import 'main-nav';
@import 'parcel-list';

//
// phase banner
//
.phase-banner {
  @include phase-banner;

  span {
    text-transform: uppercase;
    font-weight: 700;
  }
}

//
// phase tag
//
.phase-tag {
  @include phase-tag;
}

// Main central container element (main element must be unique in the page):
.main {
  max-width: 960px;
  padding: $gutter;

  @include core-19;
}

.group {
  @extend %contain-floats;
}

.govuk {

  // "brief" details layout (no dt elements visible)
  dl.details {
    margin-bottom: $gutter;

    .compacted {
      display: inline;
    }

    dd {
      font-weight: 700;
      margin-bottom: 12px;
    }
  }

  // display of personal details
  .details-name {
    font-weight: 400;
  }

  .helpful {
    @include core-16;

    color: $secondary-text-colour;
  }

  .helpful-inner {
    margin-top: $gutter-one-third;
    padding: $gutter-half $gutter-half 1px;
    background-color: $grey-4;
    border-left: 2px solid $grey-1;
  }

}

.details-overview {
  h2 {
    margin-bottom: 0.5em;
  }
}

.confirm {
  clear: both;
  background-color: $yellow-25;
  padding: 0.5em 1em;

  a {
    color: $text-colour;
  }

}
