---
layout: layout-2-1-columns
---

<% content_for :column1 do %>

  <header class="page-header no-breadcrumb">
    <hgroup>
      <h1>Check your contact details</h1>
    </hgroup>
  </header>

  <p class="lede">These are the contact details the Rural Payments Agency has for you.</p>

  <div class="panel-indent">
    <p>Mr John Smith</p>

    <p>
      Monument Way <br>
      Bodmin <br>
      PL31 1NZ <br>
      United Kingdom
    </p>

    <p>
      Email: jsmith@bodminagrltd.co.uk<br>
      Landline: 0300 790 6802<br>
      Mobile: 0300 123 0798<br>
    </p>
  </div>


  <h2 class="heading-medium">Are these details correct?</h2>

  <form class="form">
    <div class="form-group inline">
      <label for="correct-yes" class="block-label">
        <input type="radio" name="correct" id="correct-yes" value="yes" class="js-toggle" data-show="#next-yes" data-hide="#next-no">
        Yes
      </label>
      <label for="correct-no" class="block-label">
        <input type="radio" name="correct" id="correct-no" value="no" class="js-toggle" data-show="#next-no" data-hide="#next-yes">
        No
      </label>
    </div>


    <p><a href="#wrong-business" class="js-toggle">Not your details?</a></p>

    <p id="wrong-business" class="js-hidden panel-indent">Please call The Rural Payments Agency on 03000 200 301 if these are not your details.</p>


    <div class="form-group" id="next-yes">
      <a href="/" class="button">Continue</a>
    </div>

    <div class="form-group js-hidden" id="next-no">
      <a href="change" class="button">Continue</a>
    </div>

  </form>



<% end %>

