<div class="content-line map-wrapper">
  <div class="map">
    <%= partial "partial-map-controls" %>
    <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/line.png") %>">
  </div>
</div>