<div class="content-shape map-wrapper">
  <div class="map">
    <%= partial "partial-map-controls" %>
    <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/shape-edit.png") %>">
  </div>
</div>