---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-business" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Select agents from Savills Reading</h1>
    </hgroup>
  </header>

  <table class="agent-table">
    <thead>
      <tr>
        <th class="select"><span class="visuallyhidden">Select</span></th>
        <th class="name">Name</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <input type="checkbox" name="select-agent" value="01" id="select-agent-01">
        </td>
        <td>
          <label for="select-agent-01">Alan Jennings</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="select-agent" value="02" id="select-agent-02">
        </td>
        <td>
          <label for="select-agent-02">Antonio Pérez</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="select-agent" value="03" id="select-agent-03">
        </td>
        <td>
          <label for="select-agent-03">Artur Baruk</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="select-agent" value="04" id="select-agent-04">
        </td>
        <td>
          <label for="select-agent-04">Dan Ashton</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="checkbox" name="select-agent" value="05" id="select-agent-05">
        </td>
        <td>
          <label for="select-agent-05">David Colmer</label>
        </td>
      </tr>
    </tbody>
  </table>

  <p><a href="/permissions-february/select-permissions" class="button">Next</a></p>
<% end %>
