---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-business" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Select permissions for </h1>
    </hgroup>
  </header>

<!-- collapsible -->
    <section class="collapsible">


      <h2 class="heading-medium">People legally responsible for the business</h2>


      <!-- item -->
      <div class="collapsible-item">

        <div class="collapsible-heading">
          <h3 class="name"><span>Business details</span></h3>
          <p class="owns">This person can amend business details</p>
        </div>

        <div class="collapsible-content">


        </div>

      </div>
      <!-- end -->


      <!-- item -->
      <div class="collapsible-item">

        <div class="collapsible-heading">
          <h3 class="name"><span>Land details</span></h3>
          <p class="owns">This person can amend land details</p>
        </div>

        <div class="collapsible-content">

        </div>
      </div>
      <!-- end -->


      <!-- item -->
      <div class="collapsible-item">

        <div class="collapsible-heading">
          <h3 class="name"><span>Entitlements</span></h3>
          <p class="owns">This person can view entitlements</p>
        </div>

        <div class="collapsible-content">

        </div>

      </div>
      <!-- end -->

      <!-- item -->
      <div class="collapsible-item">

        <div class="collapsible-heading">
          <h3 class="name"><span>Basic payment scheme (BPS)</span></h3>
          <p class="owns">This person can view BPS</p>
        </div>

        <div class="collapsible-content">

        </div>

      </div>
      <!-- end -->


    </section>
    <!-- end -->

<% end %>