<div class="content-crop">

  <div class="form-group">
    <label class="form-label-bold">Area
      <span class="form-hint">There is 2.3ha of undefined land on this parcel</span>
    </label>
    <input class="form-control form-control-1-8" type="text"> ha
  </div>

</div>