<div class="content-hedges">

  <div class="form-group">
    <h3 class="form-label-bold">Location</h3>
    <p class="form-hint">
      Draw lines on the map to mark the location of each hedge
    </p>
  </div>

  <h3 class="form-label-bold">Area</h3>

  <p class="form-hint">
    Enter the length and width of each hedge
  </p>

  <table class="table-hedges">
    <thead>
      <tr>
        <th class="hedge">Hedge</th>
        <th class="length">Length</th>
        <th class="width">Width</th>
        <th class="area">Area</th>
        <th class="remove"></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><span class="map-marker">1</span></td>
        <td><input class="form-control" value="10"> m</td>
        <td><input class="form-control" value="2"> m</td>
        <td>20 m<sup>2</sup></td>
        <td class="remove"><a href="" title="Remove this feature">Remove</a></td>
      </tr>
      <tr>
        <td><span class="map-marker">2</span></td>
        <td><input class="form-control" value="23"> m</td>
        <td><input class="form-control" value="3"> m</td>
        <td>69 m<sup>2</sup></td>
        <td class="remove"><a href="" title="Remove this feature">Remove</a></td>
      </tr>
      <tr>
        <td><span class="map-marker">3</span></td>
        <td><input class="form-control" value="32"> m</td>
        <td><input class="form-control" value="2"> m</td>
        <td>64 m<sup>2</sup></td>
        <td class="remove"><a href="" title="Remove this feature">Remove</a></td>
      </tr>
    </tbody>
  </table>

</div>