<div class="content-hedge">

<p>
  <span class="map-marker-5"></span> <a href="#drawing-tips-hedge" class="js-toggle">Draw a line</a><!--Draw a line--> on the map to mark the hedge.
</p>
<!--
<p>
  <a href="#drawing-tips-hedge" class="js-toggle">Drawing tips</a>
</p>
-->
<div id="drawing-tips-hedge" class="js-hidden panel-indent">

  <p class="bold-xsmall">Drawing tips</p>

  <ul class="font-xsmall list-bullet">
    <li>Click on the map to mark points along the hedge</li>
    <li>Double-click the last point to stop drawing</li>
    <li>Switch to 'Photo' to see an arial photo of the land</li>
    <li>Use the zoom or full screen controls to enlarge the map</li>
  </ul>

</div>
<br>


<div class="form-label">Dimensions</div>

<table class="feature-dimensions">
  <tr>
    <th>Length</th>
    <th>Width</th>
    <th>Area on map</th>
    <th>Actual area</th>
  </tr>
  <tr>
    <td>32.1m</td>
    <td><input class="form-control form-control-num" type="text" value="1.0"> m</td>
    <td>0.2ha</td>
    <td><input class="form-control form-control-num" type="text" value="0.33"> ha</td>
  </tr>
</table>


</div>