<div class="content-hedge">

<p>
  <span class="map-marker-5"></span> Draw a line on the map to mark the hedge.
</p>

<p>
  <a href="#drawing-tips-hedge" class="js-toggle">Drawing tips</a>
</p>

<div id="drawing-tips-hedge" class="js-hidden xpanel-indent">

  <ul class="font-xsmall list-bullet">
    <li>Click on the map to mark points along the hedge</li>
    <li>Double-click the last point to stop drawing</li>
    <li>Switch to 'Photo' to see an arial photo of the land</li>
    <li>Use the zoom or full screen controls to enlarge the map</li>
  </ul>

</div>

<p>Length on map: 32m</p>

<div class="form-group">
  <label class="form-label">Actual length:&nbsp;
    <input class="form-control form-control-1-8" type="text"> m
  </label>
</div>


</div>