<div class="content-line">

<p>
  <span class="map-marker-5"></span> Drag the line on the map to adjust it's shape.
</p>

<p>
  <a href="#drawing-tips" class="js-toggle">Drawing tips</a>
</p>

<div id="drawing-tips" class="js-hidden xpanel-indent">

  <ul class="font-xsmall list-bullet">
    <li>Drag a dot on the line to move it</li>
    <li>Click on the line to add a new dot</li>
    <li>Switch to 'Photo' to see an arial photo of the land</li>
    <li>Use the zoom and full screen controls to make the map bigger</li>
  </ul>

</div>


<p>Length on map: 32m</p>

<div class="form-group">
  <label class="form-label">Actual length:&nbsp;
    <input class="form-control form-control-1-8" type="text"> m
  </label>
</div>

</div>