<div class="content-line">

  <div class="form-group">
    <h3 class="form-label-bold">Location</h3>
    <p class="form-hint">
      Draw lines on the map to mark the features.
      Click the map to mark points on the line.
      Double-click to end a line.
    </p>
  </div>

</div>