<div class="content-points">

  <div class="form-group">
    <h3 class="form-label-bold">Location</h3>
    <p class="form-hint"><span class="map-marker-3"></span> Mark the locations by clicking on the map</p>
  </div>

</div>