<div class="content-point">

  <div class="form-group">
    <label class="form-label-bold">Size
      <span class="form-hint">For example '2ha', '10m<sup class="font-xsmall">2</sup>' or '7m x 8m'</span>
    </label>
    <input class="form-control form-control-1-4" type="text">
  </div>

  <div class="form-group">
    <h3 class="form-label-bold">Location</h3>
    <p class="form-hint"><span class="map-marker-3"></span> Mark the location by clicking on the map</p>
  </div>

</div>