<div class="content-point">

  <p>
    <span class="map-marker-3"></span> Mark the location of the feature on the map.
  </p>

  <div class="form-group">
    <label class="form-label">Area</label>
    <input class="form-control form-control-1-8" type="text">
    <select class="font-xsmall link-style">
      <option>square meters</option>
      <option>square feet</option>
      <option>hectares</option>
    </select>
  </div>

</div>