---
title: Primrose Farm - Alfafa field
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="back-link">
    <a href="/">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle">Primrose Farm</h2>
            <h1>Alfafa field</h1>
          </hgroup>

          <dl class="metadata">
            <dt class="visuallyhidden">Parcel area</dt>
            <dd>5.6ha</dd>
            <dt class="visuallyhidden">Parcel ID</dt>
            <dd>SJ7555 1074</dd>
          </dl>
        </header>

        <ul class="parcel-list">
          <li>
            <span class="status done"><span class="visuallyhidden">Status: done</span></span>
            Land use
            <a href="03-land-use" class="edit">Edit <span class="visuallyhidden">land use</span></a>
          </li>
          <li>
          <span class="status done"><span class="visuallyhidden">Status: done</span></span>
            Organic status
            <a href="03-land-use" class="edit">Edit <span class="visuallyhidden">land use</span></a>
          </li>
          <li>
            <span class="status done"><span class="visuallyhidden">Status: done</span></span>
            Buffer strips
            <a href="03-land-use" class="edit">Edit <span class="visuallyhidden">land use</span></a>
          </li>
          <li>
            <span class="status"><span class="visuallyhidden">Status: incomplete</span></span>
            Buildings and features
            <a href="04-buildings-and-features" class="edit">Edit <span class="visuallyhidden">buildings and features</span></a>
          </li>
          <li>
            <span class="status"><span class="visuallyhidden">Status: incomplete</span></span>
            Hedges
            <a href="04-hedges" class="edit">Edit <span class="visuallyhidden">hedges</span></a>
          </li>
        </ul>

      </div>
    </div>
    <div class="map">

    </div>
  </div>
</div>

