---
title: Primrose Farm - Alfafa field
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="back-link">
    <a href="/">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle"><%= data.business.name %></h2>
            <h1>Alfafa field</h1>
          </hgroup>

          <dl class="metadata">
            <dt class="visuallyhidden">Parcel area</dt>
            <dd>5.6ha</dd>
            <dt class="visuallyhidden">Parcel ID</dt>
            <dd>SJ7555 1074</dd>
          </dl>
        </header>

        <p>Update the details for this land parcel below.</p>



        <table class="parcel-details">
          <thead>
            <tr class="visuallyhidden">
              <th class="detail-key">Key</th>
              <th class="details-value">Value</th>
              <th class="detail-status">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="detail-key">Name</td>
              <td class="detail-value">Alfafa field</td>
              <td class="edit"><a href="">Update</a></td>
            </tr>
            <tr>
              <td class="detail-key">Land use</td>
              <td class="detail-value undefined">Undefined</td>
              <td class="edit"><a href="03-land-use">Update</a></td>
            </tr>
            <tr>
              <td class="detail-key">Organic status</td>
              <td class="detail-value undefined">Undefined</td>
              <td class="edit"><a href="">Update</a></td>
            </tr>
            <tr>
              <td class="detail-key">Buffer strips</td>
              <td class="detail-value undefined">Undefined</td>
              <td class="edit"><a href="">Update</a></td>
            </tr>
            <tr>
              <td class="detail-key">Hedges</td>
              <td class="detail-value undefined">Undefined</td>
              <td class="edit"><a href="">Update</a></td>
            </tr>
            <tr>
              <td class="detail-key">Buildings and features</td>
              <td class="detail-value undefined">Undefined</td>
              <td class="edit"><a href="">Update</a></td>
            </tr>
          </tbody>
        </table>

<!--
        <ul class="parcel-list">
          <li>
            <a href="03-land-use">Land use</a> <span class="status undefined">Undefined</span>
          </li>
          <li>
            <a href="03-land-use">Organic status</a> <span class="status undefined">Undefined</span>
          </li>
          <li>
            <a href="03-land-use">Buffer strips</a> <span class="status undefined">Undefined</span>
          </li>
          <li>
            <a href="03-land-use">Hedges</a> <span class="status undefined">Undefined</span>
          </li>
          <li>
            <a href="03-land-use">Buildings and features</a> <span class="status undefined">Undefined</span>
          </li>
        </ul>

        <button class="button disabled">Update land parcel</button>
-->
      </div>
    </div>
    <div class="map">
      <%= partial "partial-map-controls" %>
      <div class="map-wrapper">

      </div>
    </div>
  </div>
</div>

