---
title: Rural payments prototype
layout: layout_template_no_nav
---

<% parcel = locals[:parcel] %>

<div class="inner-block">

  <%= partial "partial-breadcrumbs", :locals => { :parcel => parcel} %>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h1>Crops and grassland</h1>
          </hgroup>
        </header>

        <p>
          Describe any crops and grassland in the table below.
        </p>

        <form class="form" id="land-use-form">
          <table class="land-use-table">
            <thead>
              <tr>
                <th class="land-use-name">Crop</th>
                <th class="land-use-area">Area</th>
              </tr>
            </thead>
            <tbody>

              <%= partial "partial-land-use-and-area" %>

            </tbody>
          </table>

          <div class="form-group">
            <a href="buffer-strips" class="button">Save and continue</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-parcel-map" %>
  </div>
</div>

