---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="back-link">
    <a href="/">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle">Primrose Farm: Alfafa field</h2>
            <h1>What is this field used for?</h1>
          </hgroup>
        </header>

        <p>Use the box below to search for the type of land use.</p>

        <form>
          <div class="form-group">
            <label for="land-use" class="visuallyhidden">Select the land use</label>
            <select name="land-use" id="land-use" class="form-control">
              <option value="">Alfafa</option>
              <option value="">Allotments - commerical</option>
              <option value="">Almonds</option>
              <option value="">Alder (Alnus)</option>
              <option value="">Allotments</option>
            </select>
          </div>

          <div class="form-group">
            <a href="03.1-organic" class="button">Next</a>
          </div>
        </form>

      </div>
    </div>
    <div class="map">

    </div>
  </div>
</div>

