---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="back-link">
    <a href="02-parcel-details">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle">Primrose Farm: Alfafa field</h2>
            <h1>What is this land parcel used for?</h1>
          </hgroup>
        </header>

        <p>
          Search for types of land use in the box below.
          You can select more than one type.
        </p>

        <form>
          <div class="form-group">
            <label for="land-use" class="visuallyhidden">Select the land use</label>


            <%= partial "partial-land-use-list" %>

          </div>

          <div class="form-group">
            <a href="03.1-organic" class="button">Next</a>
          </div>
        </form>

      </div>
    </div>
    <div class="map">

    </div>
  </div>
</div>

