---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="back-link">
    <a href="/">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle">Primrose Farm: Alfafa field</h2>
            <h1>Is this land currently certified organic?</h1>
          </hgroup>
        </header>

        <form class="form">
          <div class="form-group inline">
            <label for="organic-status-yes" class="block-label">
              <input type="radio" name="organic-status" id="organic-status-yes" value="yes" class="js-toggle" data-show="#yes-details" data-hide="#no-details">
              Yes
            </label>
            <label for="organic-status-no" class="block-label">
              <input type="radio" name="organic-status" id="organic-status-no" value="no" class="js-toggle" data-show="#no-details" data-hide="#yes-details">
              No
            </label>
          </div>

          <div class="js-hidden panel-indent" id="yes-details">

            <div class="form-group">
              <label for="organic-certification-body" class="form-label">Certified by</label>
              <select name="organic-certification-body" id="organic-certification-body" class="form-control-select">
                <option value="">Soil Association</option>
                <option value="">Soil Association</option>
                <option value="">Soil Association</option>
                <option value="">Soil Association</option>
                <option value="">Soil Association</option>
                <option value="">Soil Association</option>
                <option value="">Soil Association</option>
                <option value="">Soil Association</option>
                <option value="">Soil Association</option>
                <option value="">Soil Association</option>
                <option value="">Soil Association</option>
              </select>
            </div>

            <fieldset>
              <legend>Certification date</legend>
              <%= partial 'partial-date', :locals => { :id => 'organic-start-date'} %>
            </fieldset>

            <fieldset>
              <legend>Expiry date</legend>
              <%= partial 'partial-date', :locals => { :id => 'organic-end-date'} %>
            </fieldset>

          </div>

          <div class="js-hidden" id="no-details">

          <h2 class="heading-medium">Will it be certified organic by Jan 2015?</h2>

          <div class="form-group inline">
            <label for="organic-future-yes" class="block-label">
              <input type="radio" name="future-status" id="organic-future-yes" value="yes" class="js-toggle" data-show="#future-details">
              Yes
            </label>
            <label for="organic-future-no" class="block-label">
              <input type="radio" name="future-status" id="organic-future-no" value="no" class="js-toggle" data-hide="#future-details">
              No
            </label>
          </div>

            <div class="js-hidden panel-indent" id="future-details">
              <div class="form-group">
                <label for="organic-certification-body" class="form-label">Certified by</label>
                <select name="organic-certification-body" id="organic-certification-body" class="form-control-select">
                  <option value="">Soil Association</option>
                  <option value="">Soil Association</option>
                  <option value="">Soil Association</option>
                  <option value="">Soil Association</option>
                  <option value="">Soil Association</option>
                  <option value="">Soil Association</option>
                  <option value="">Soil Association</option>
                  <option value="">Soil Association</option>
                  <option value="">Soil Association</option>
                  <option value="">Soil Association</option>
                  <option value="">Soil Association</option>
                </select>
              </div>

              <fieldset>
                <legend>Certification date</legend>
                <%= partial 'partial-date', :locals => { :id => 'organic-start-date'} %>
              </fieldset>
            </div>

          </div>

          <div class="form-group">
            <a href="03.2-buffer-strip" class="button">Next</a>
          </div>
        </form>

      </div>
    </div>
    <div class="map">

    </div>
  </div>
</div>

