---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="back-link">
    <a href="03.1-organic">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle">Primrose Farm: Alfafa field</h2>
            <h1>Are there buffer strips on this land?</h1>
          </hgroup>
        </header>

        <form>
          <div class="form-group inline">
            <label for="buffer-strip-yes" class="block-label">
              <input type="radio" name="buffer-strip" id="buffer-strip-yes" value="yes" class="js-toggle" data-show="#buffer-strip-details, .undo-redo">
              Yes
            </label>
            <label for="buffer-strip-no" class="block-label">
              <input type="radio" name="buffer-strip" id="buffer-strip-no" value="no" class="js-toggle" data-hide="#buffer-strip-details, .undo-redo">
              No
            </label>
          </div>

          <p class="js-hidden">If you answered yes...</p>

          <div class="panel-indent js-hidden" id="buffer-strip-details">

            <p>Click the numbers on the map to mark the border edges that have buffer strips.</p>

            <div class="form-group">
              <label for="buffer-strip-width" class="form-label">Strip width: <input type="number" name="buffer-strip-width" id="buffer-strip-width" class="form-control form-control-1-8" value="6"> meters</label>
            </div>

          </div>

          <div class="form-group">
            <a href="03.3-adjust-buffer-strip" class="button">Next</a>
          </div>
        </form>

      </div>
    </div>
    <div class="map">
      <%= partial "partial-map-controls" %>
      <div class="map-wrapper">

      </div>
    </div>
  </div>
</div>

