---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<% parcel = data.business.parcels[0] %>

<div class="inner-block">

  <div class="back-link">
    <a href="03.1-organic">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle"><%= data.business.name %>: <%= parcel.name %></h2>
            <h1>Are there buffer strips on this land?</h1>
          </hgroup>
        </header>

        <form>
          <div class="form-group inline">
            <label for="buffer-strip-yes" class="block-label">
              <input type="radio" name="buffer-strip" id="buffer-strip-yes" value="yes" class="js-toggle" data-show="#buffer-strip-details, .undo-redo">
              Yes
            </label>
            <label for="buffer-strip-no" class="block-label">
              <input type="radio" name="buffer-strip" id="buffer-strip-no" value="no" class="js-toggle" data-hide="#buffer-strip-details, .undo-redo">
              No
            </label>
          </div>

          <p class="js-hidden">If you answered yes...</p>

          <div class="panel-indent js-hidden" id="buffer-strip-details">

            <div class="form-group">
              <label for="buffer-strip-width" class="form-label">What area is covered by buffer strips?</label>
              <input type="text" name="buffer-strip-area" id="buffer-strip-area" class="form-control form-control-1-4" value="0.00"> ha
            </div>

            <%= partial "partial-notes" %>

          </div>

          <div class="form-group">
            <a href="04-hedges" class="button">Next</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-parcel-map" %>
  </div>
</div>

