---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="back-link">
    <a href="/">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle">Primrose Farm: Alfafa field</h2>
            <h1>Is there a buffer strip?</h1>
          </hgroup>
        </header>

        <form>
          <div class="form-group inline">
            <label for="buffer-strip-yes" class="block-label">
              <input type="radio" name="buffer-strip" id="buffer-strip-yes" value="yes">
              Yes
            </label>
            <label for="buffer-strip-no" class="block-label">
              <input type="radio" name="buffer-strip" id="buffer-strip-no" value="no">
              No
            </label>
          </div>

          <div class="panel-indent">
            <div class="form-group">
              <label for="buffer-strip-width" class="form-label">How wide is it?</label>
              <input type="number" name="buffer-strip-width" id="buffer-strip-width" class="form-control form-control-1-8" value=""> m
            </div>
          </div>

          <div class="form-group">
            <a href="03.3-adjust-buffer-strip" class="button">Next</a>
          </div>
        </form>

      </div>
    </div>
    <div class="map">

    </div>
  </div>
</div>

