---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="back-link">
    <a href="03.2-buffer-strip">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle">Primrose Farm: Alfafa field</h2>
            <h1>Adjust the buffer strip</h1>
          </hgroup>
        </header>

        <p>You can adjust the buffer strip by dragging the outline on the map.
          If you get stuck you can <a href="#">reset the map</a>.</p>


        <div class="form-group">
          <a href="04-hedges" class="button">Next</a>
        </div>

      </div>
    </div>
    <div class="map">

    </div>
  </div>
</div>

