---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="back-link">
    <a href="03.2-buffer-strip">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle"><%= data.business.name %>: Alfafa field</h2>
            <h1>Adjust the buffer strips</h1>
          </hgroup>
        </header>

        <p>If you want to you can adjust the buffer strips by dragging their outlines on the map.</p>


        <div class="form-group">
          <a href="04-hedges" class="button">Next</a>
        </div>

      </div>
    </div>
    <%= partial "partial-parcel-map" %>
  </div>
</div>

