---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="back-link">
    <a href="/">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle">Primrose Farm: Alfafa field</h2>
            <h1>Adjust the buffer strip</h1>
          </hgroup>
        </header>

        <p>If you need to you can adjust the buffer strip by dragging the outline on the map.</p>

        <p>If you get stuck you can <a href="#">reset it</a>, or ask for <a href="#">help</a>.</p>

        <div class="form-group">
          <a href="04-hedges" class="button">Next</a>
        </div>

      </div>
    </div>
    <div class="map">

    </div>
  </div>
</div>

