---
title: Rural payments prototype
layout: layout_template_no_nav
---

<% parcel = locals[:parcel] %>

<div class="inner-block">

  <%= partial "partial-breadcrumbs", :locals => { :parcel => parcel} %>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h1>Buffer strips</h1>
          </hgroup>
        </header>

        <p>Are there any buffer strips on this land?</p>

        <form class="form">
          <div class="form-group inline">
            <label for="buffer-strip-yes" class="block-label">
              <input type="radio" name="buffer-strip" id="buffer-strip-yes" value="yes" class="js-toggle" data-show="#buffer-strip-details">
              Yes
            </label>
            <label for="buffer-strip-no" class="block-label">
              <input type="radio" name="buffer-strip" id="buffer-strip-no" value="no" class="js-toggle" data-hide="#buffer-strip-details">
              No
            </label>
          </div>

          <p class="js-hidden">If you answered yes...</p>

          <div class="panel-indent js-hidden" id="buffer-strip-details">

            <div class="form-group">
              <label for="buffer-strip-width" class="form-label">Total area:
              <input type="text" name="buffer-strip-area" id="buffer-strip-area" class="form-control form-control-1-4" value="0.00"> ha
              </label>
            </div>

            <!--
            <%= partial "partial-notes" %>
          -->

            <p>Describe this area by:</p>

            <ul class="describe-area list-bullet">
              <li>
                  <a href="#describe-draw" class="js-toggle">drawing it on the map</a>
                  <p id="describe-draw" class="js-hidden">
                    Click on the map along the edges of the area you want to describe.

                  </p>
              </li>
              <li>
                  <a href="#describe-write" class="js-toggle">describing it in words</a>
                  <div id="describe-write" class="js-hidden">

                    <label for="notes-details" class="visuallyhidden">Enter details here</label>
                    <textarea class="form-control full-width" id="notes-details"></textarea>

                  </div>
              </li>
              <li>
                  <a href="#describe-upload" class="js-toggle">uploading a file or image</a>
                  <p id="describe-upload" class="js-hidden">
                    <input type="file" name="attachment" id="attachment">
                  </p>
              </li>
            </ul>


          </div>

          <div class="form-group">
            <a href="hedges" class="button">Save and continue</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-map-parcel" %>
  </div>
</div>

