---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="back-link">
    <a href="03.3-adjust-buffer-strip">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle"><%= data.business.name %>: Alfafa field</h2>
            <h1>Does this land have hedges?</h1>
          </hgroup>
        </header>

        <form>
          <div class="form-group inline">
            <label for="hedges-yes" class="block-label">
              <input type="radio" name="hedges" id="hedges-yes" value="yes" class="js-toggle" data-show="#hedge-details, .undo-redo">
              Yes
            </label>
            <label for="hedges-no" class="block-label">
              <input type="radio" name="hedges" id="hedges-no" value="no" class="js-toggle" data-hide="#hedge-details, .undo-redo">
              No
            </label>
          </div>

          <p class="js-hidden">If you answered yes...</p>

          <div class="panel-indent js-hidden" id="hedge-details">
            <p>Draw hedges on the map by marking their start and end points. Press Escape to cancel drawing.</p>
          </div>

          <div class="form-group">
            <a href="05-buildings-and-features" class="button">Next</a>
          </div>
        </form>

      </div>
    </div>
    <div class="map">
      <%= partial "partial-map-controls" %>
      <div class="map-wrapper">

      </div>
    </div>
  </div>
</div>

