---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<% parcel = data.business.parcels[0] %>

<div class="inner-block">

  <div class="back-link">
    <a href="04-trees">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle"><%= data.business.name %>: <%= parcel.name %></h2>
            <h1>Does this land have trees on it?</h1>
          </hgroup>
        </header>

        <form>
          <div class="form-group inline">
            <label for="trees-yes" class="block-label">
              <input type="radio" name="trees" id="trees-yes" value="yes" class="js-toggle" data-show="#hedge-details, .undo-redo">
              Yes
            </label>
            <label for="trees-no" class="block-label">
              <input type="radio" name="trees" id="trees-no" value="no" class="js-toggle" data-hide="#hedge-details, .undo-redo">
              No
            </label>
          </div>

          <p class="js-hidden">If you answered yes...</p>

          <div class="panel-indent js-hidden" id="hedge-details">
            <p>Draw the trees by clicking on the map.</p>
          </div>

          <div class="form-group">
            <a href="05-buildings-and-features" class="button">Next</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-parcel-map" %>
  </div>
</div>

