---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="back-link">
    <a href="04-hedges">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle">Primrose Farm: Alfafa field</h2>
            <h1>Buildings and features</h1>
          </hgroup>
        </header>

        <p>There are <strong>3 undefined features</strong> on this land parcel. Check them and add any new features.</p>

        <table class="parcel-features">
          <thead>
            <tr class="visuallyhidden">
              <th class="feature-ref">Number</th>
              <th class="feature-name">Feature</th>
              <th class="feature-area">Value</th>
              <th class="feature-check">Check</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="feature-ref">1.</td>
              <td class="feature-name"><em>Undefined</em></td>
              <td class="feature-area">0.2ha</td>
              <td class="feature-check"><a href="">Check</a></td>
            </tr>
            <tr>
              <td class="feature-ref">2.</td>
              <td class="feature-name"><em>Undefined</em></td>
              <td class="feature-area">0.1ha</td>
              <td class="feature-check"><a href="">Check</a></td>
            </tr>
            <tr>
              <td class="feature-ref">3.</td>
              <td class="feature-name"><em>Undefined</em></td>
              <td class="feature-area">0.3ha</td>
              <td class="feature-check"><a href="">Check</a></td>
            </tr>
          </tbody>
        </table>

        <form>


          <div class="form-group">
            <a href="05-buildings-and-features" class="button">Next</a>
          </div>
        </form>

      </div>
    </div>
    <div class="map">
      <%= partial "partial-map-controls" %>
      <div class="map-wrapper">

      </div>
    </div>
  </div>
</div>

