---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<% parcel = locals[:parcel] %>

<div class="inner-block">

  <div class="back-link">
    <a href="03.2-buffer-strip">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle"><%= data.business.name %>: <%= parcel.name %></h2>
            <h1>Hedges</h1>
          </hgroup>
        </header>

        <p>Draw any hedges on the map by clicking their start and end points. Press Escape to cancel drawing.</p>

        <form>
          <div class="form-group">
            <a href="buildings-and-structures" class="button">Save and continue</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-parcel-map" %>
  </div>
</div>

