---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Hedges</h1>
    </hgroup>
  </header>

  <p>Are there any hedges on this land?</p>

  <form class="form">
    <div class="form-group inline">
      <label for="hedges-yes" class="block-label">
        <input type="radio" name="hedges" id="hedges-yes" value="yes" class="js-toggle" data-show="#hedges-details">
        Yes
      </label>
      <label for="hedges-no" class="block-label">
        <input type="radio" name="hedges" id="hedges-no" value="no" class="js-toggle" data-hide="#hedges-details">
        No
      </label>
    </div>

    <p class="js-hidden">If you answered yes...</p>

    <div class="panel-indent js-hidden" id="hedges-details">


      <p>Draw hedges on the map by clicking their start and end points. Press Escape to cancel drawing.</p>

      <details>
        <summary>Which hedges should I include?</summary>
        <div>
          <p>Include any hedge that:</p>

          <ul class="list-bullet">
            <li>is less than 10m wide</li>
            <li>is at least 20m long (after gaps)</li>
            <li>you want to count towards your Environmental Focus Area total</li>
          </ul>

          <p>Gaps or gates in a single hedge cannot be wider than 5m and should not account for more than 10% of the total area of the hedge.</p>

        </div>
      </details>
    </div>

    <div class="form-group">
      <a href="/<%= parcel.id %>/" class="button">Save and continue</a>
    </div>

  </form>

<% end %>

<% content_for :column2 do %>

  <%= partial "partial-map", :locals => { :map => 'parcel'} %>

<% end %>