---
title: Rural payments prototype
layout: layout_template_no_nav
---

<% parcel = locals[:parcel] %>

<div class="inner-block">

  <%= partial "partial-breadcrumbs", :locals => { :parcel => parcel} %>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h1>Hedges</h1>
          </hgroup>
        </header>

        <p>Draw hedges on the map by clicking their start and end points. Press Escape to cancel drawing.</p>

        <details>
          <summary>Which hedges should I draw?</summary>
          <div class="panel-indent">
            <p>Draw any hedge that is:</p>

            <ul class="list-bullet">
              <li>at least 20m long (after gaps)</li>
              <li>less than 10m wide</li>
            </ul>

            <p>Gaps or gates in a single hedge cannot be wider than 5m and should not account for more than 10% of the total area of the hedge.</p>
          </div>
        </details>

        <p>Total area covered: 0.00ha</p>

        <form>
          <div class="form-group">
            <a href="buildings-and-structures" class="button">Save and continue</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-parcel-map" %>
  </div>
</div>

