---
title: Rural payments prototype
layout: layout_template_no_nav
---

<% parcel = data.business.parcels[0] %>

<div class="inner-block">

  <%= partial "partial-breadcrumbs", :locals => { :parcel => parcel} %>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h1>Add a building or feature</h1>
          </hgroup>
        </header>

        <p>Click on the map where the new building or feature is. Use the zoom controls for better accuracy.</p>

        <form>
          <div id="details" class="js-hidden">
            <div class="panel-indent">
              <div class="form-group">
                <label for="feature-type" class="form-label">What kind of building or feature is this?</label>
                <%= partial "partial-feature-types" %>
              </div>

              <p>Is this a planned or existing feature?</p>
              <div class="form-group inline">
                <label for="existing-feature-yes" class="label">
                  <input type="radio" name="existing-feature" id="existing-feature-yes" value="yes" class="js-toggle" checked data-show="#existed-date" data-hide="#planned-date">
                  Existing
                </label>
                <label for="existing-feature-no" class="label">
                  <input type="radio" name="existing-feature" id="existing-feature-no" value="no" class="js-toggle" data-hide="#existed-date" data-show="#planned-date">
                  Planned
                </label>
              </div>

              <fieldset>
                <legend id="existed-date">Since when has it been on this land?</legend>
                <legend id="planned-date" class="js-hidden">From when will it be on this land?</legend>
                <%= partial 'partial-date', :locals => { :id => 'feature-start-date'} %>
              </fieldset>

              <div class="form-group">
                <label for="feature-area" class="form-label">Total area</label>
                <input type="text" class="form-control form-control-1-8" id="feature-area"> ha
              </div>

              <p>Describe the shape and dimensions of the building or feature in the box below. Attach an image or document if it helps to describe it.</p>
              <label for="notes-details" class="visuallyhidden">Enter details here</label>
              <textarea class="form-control full-width" id="notes-details"></textarea>
              <div>
                <a href="#attachment" class="js-toggle">Attach file</a>
                <input type="file" name="attachment" id="attachment" class="js-hidden">
              </div>

            </div>

            <div class="form-group">
              <a href="05-buildings-and-features" class="button">Next</a>
            </div>
            <p><a href="05-buildings-and-features">Cancel</a></p>
          </div>
        </form>

      </div>
    </div>
    <div class="js-toggle" data-show="#details, .undo-redo">
      <%= partial "partial-parcel-map" %>
    </div>
  </div>
</div>

