---
title: Rural payments prototype
layout: layout_template_no_nav
---

<% parcel = locals[:parcel] %>

<div class="inner-block">

  <%= partial "partial-breadcrumbs", :locals => { :parcel => parcel} %>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h1>Buildings and structures</h1>
          </hgroup>
        </header>

        <p>Check the existing features on this land and add any missing ones.</p>

        <table class="parcel-features js-row-link">
          <thead>
            <tr>
              <th class="feature-name">Feature</th>
              <th class="feature-area">Area</th>
              <th class="feature-status">Checked</th>
            </tr>
          </thead>
          <tbody>
            <tr class="not-checked">
              <td class="feature-name">1. <a href="check-feature">Pond</a></td>
              <td class="feature-area">0.2ha</td>
              <td class="feature-status">No</td>
            </tr>
            <tr class="not-checked">
              <td class="feature-name">2. <a href="check-feature">Feature</a></td>
              <td class="feature-area">0.1ha</td>
              <td class="feature-status">No</td>
            </tr>
            <tr class="not-checked">
              <td class="feature-name">3. <a href="check-feature">Building</a></td>
              <td class="feature-area">0.3ha</td>
              <td class="feature-status">No</td>
            </tr>
          </tbody>
        </table>

        <form>

          <p><a href="add-feature">Add a new feature</a></p>


          <div class="form-group">
            <a href="other-features" class="button">Save and continue</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-map-parcel-buildings" %>
  </div>
</div>

