---
title: Rural payments prototype
layout: layout_template_no_nav
---

<% parcel = locals[:parcel] %>

<div class="inner-block">

  <%= partial "partial-breadcrumbs", :locals => { :parcel => parcel} %>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h1>Buildings and structures</h1>
          </hgroup>
        </header>

        <p class="alert">There are <strong>2 unverified features</strong> on this land parcel. <br>Verify them before adding any new features.</p>

        <table class="parcel-features js-row-link">
          <thead>
            <tr class="visuallyhidden">
              <th class="feature-ref">Number</th>
              <th class="feature-name">Feature</th>
              <th class="feature-area">Value</th>
              <th class="feature-edit">Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="feature-ref">1.</td>
              <td class="feature-name">Unverified pond</td>
              <td class="feature-area">0.2ha</td>
              <td class="feature-edit"><a href="05.3-verify-feature">Verify</a></td>
            </tr>
            <tr>
              <td class="feature-ref">2.</td>
              <td class="feature-name">Unverified feature</td>
              <td class="feature-area">0.1ha</td>
              <td class="feature-edit"><a href="05.3-verify-feature">Verify</a></td>
            </tr>
            <tr>
              <td class="feature-ref">3.</td>
              <td class="feature-name">Building</td>
              <td class="feature-area">0.3ha</td>
              <td class="feature-edit"><a href="05.2-check-feature">Edit</a></td>
            </tr>
          </tbody>
        </table>

        <form>

          <p><a href="05.1-add-feature">Add a new feature</a></p>


          <div class="form-group">
            <a href="other-features" class="button">Save and continue</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-parcel-map" %>
  </div>
</div>

