---
title: Rural payments prototype
layout: layout_template_no_nav
---

<% parcel = locals[:parcel] %>

<div class="inner-block">

  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h1>Other features</h1>
          </hgroup>
        </header>

        <form>

          <p>There are no other features on this land parcel.</p>

          <p><a href="add-feature">Add a new feature</a></p>

          <div class="form-group">
            <a href="../<%= parcel.id %>-checked" class="button">Save and continue</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-map-parcel" %>
  </div>
</div>

