---
title: Rural payments prototype
layout: layout_template_no_nav
---

<% parcel = locals[:parcel] %>

<div class="inner-block">

  <%= partial "partial-breadcrumbs", :locals => { :parcel => parcel} %>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h1>Describe this feature</h1>
          </hgroup>
        </header>

        <p>How do you want to describe this feature?</p>
        <p>Select all that apply.</p>

        <form class="form">
          <div class="form-group">
            <label for="feature-draw" class="block-label">
              <input type="checkbox" name="feature" id="feature-draw" value="yes" class="js-toggle" data-show="#feature-details">
              Drawn on the map
            </label>
            <label for="feature-describe" class="block-label">
              <input type="checkbox" name="feature" id="feature-describe" value="no" class="js-toggle" data-hide="#feature-details">
              Describe in words
            </label>
            <label for="feature-upload" class="block-label">
              <input type="checkbox" name="feature" id="feature-upload" value="no" class="js-toggle" data-hide="#feature-details">
              Upload a file
            </label>
          </div>

          <p class="js-hidden">If you answered yes...</p>

          <div class="panel-indent js-hidden" id="feature-details">

            <div class="form-group">
              <label for="feature-width" class="form-label">Total area:
              <input type="text" name="feature-area" id="feature-area" class="form-control form-control-1-4" value="0.00"> ha
              </label>
            </div>

          </div>

          <div class="form-group">
            <a href="hedges" class="button">Save and continue</a>
          </div>
        </form>

      </div>
    </div>
    <%= partial "partial-map-parcel" %>
  </div>
</div>

