---
title: Rural payments prototype
layout: layout_template_no_nav
---

<div class="inner-block">

  <%= partial "partial-breadcrumbs" %>

  <div class="group">
    <div class="words-wide">
      <div class="inner-block">

        <header class="page-header">
          <hgroup>
            <h1><%= data.account.name %></h1>
          </hgroup>

        </header>

        <h2 class="heading-medium">Personal details</h2>

        <p>
          Name: <%= data.account.name %><br>
          Date of birth: 15 December 1947<br>
          National Insurance number: AA123458C
        </p>


        <p><a href="update-personal-details">Update these details</a></p>


        <h2 class="heading-medium">Contact details</h2>

        <p>
          Bodmin Agr Ltd.<br>
          Monument Way <br>
          Bodmin <br>
          PL31 1NZ <br>
          United Kingdom
        </p>

        <p>
          Email: jsmith@bodminagrltd.co.uk<br>
          Landline: 0300 790 6802<br>
          Mobile: 0300 123 0798<br>
        </p>

        <p><a href="update-contact-details">Update these details</a></p>

        <h2 class="heading-medium">Reference numbers</h2>

        <p>
          Customer Reference Number: 222223250 <br>
          Personal Identifier: 1100052819 <br>
        </p>


        <p><a href="">Back</a></p>

      </div>
    </div>

    <div class="map-column small-map">

      <h2 class="heading-medium">Account actions</h2>
      <ul>
        <li><a href="">Sign out</a></li>
        <li><a href="">Delete your account</a></li>
      </ul>

    </div>

  </div>
</div>

