---
title: Rural payments prototype
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="group">
    <div class="words-wide">
      <div class="inner-block">

        <header class="page-header">
          <hgroup>
            <h2 class="subtitle">Your account</h2>
            <h1><%= data.account.name %></h1>
          </hgroup>

        </header>

        <h2 class="heading-medium">Contact details</h2>

        <div class="grid-wrapper">
           <div class="grid grid-1-2">
             <div class="inner-block">
                <p>
                  Land Agents Ltd.<br>
                  Broad Street <br>
                  Birmingham <br>
                  BR1 6TR <br>
                  United Kingdom
                </p>
             </div>
           </div>
           <div class="grid grid-1-2">
             <div class="inner-block">
                <p>
                  <a href="">hcarpenter@landagents.com</a> <br>
                  Landline: 0300 790 6802<br>
                  Mobile: 0300 123 0798<br>
                </p>
            </div>
          </div>
        </div>

        <p><a href="">Edit these details</a></p>

        <h2 class="heading-medium">Reference numbers</h2>

        <p>
          Customer Reference Number: 222223250 <br>
          Personal Idenitfier: 1100052819 <br>
        </p>

        <details>
          <summary>What are these?</summary>
        </details>



        <h2 class="heading-medium">Businesses</h2>

        <p>These are the businesses you currently have access to:</p>

        <ul>
          <li><a href="#">Wilkswood Farm</a></li>
          <li><a href="#">Oakleigh Farm</a></li>
          <li><a href="#">Modbury Farm</a></li>
          <li><a href="#">Brewery Farm</a></li>
          <li><a href="#">The Pamphill Dairy Farm</a></li>
          <li><a href="#">Maydownfarm Ltd</a></li>
          <li><a href="#">Iwerne Springs Farm</a></li>
          <li><a href="#">Bride Valley Farm</a></li>
          <li><a href="#">Allenbrook Restocking Trout Farm</a></li>
          <li><a href="#">Washingpool Farm</a></li>
          <li><a href="#">Gold Hill Organic Farm</a></li>
          <li><a href="#">Hooke Springs Restocking Trout Farm</a></li>
          <li><a href="#">Trigon Fisheries</a></li>
          <li><a href="#">Sydling Estate</a></li>
          <li><a href="#">C W Abbott & Son</a></li>
          <li><a href="#">Longmeadow Organic Vegetables</a></li>
        </ul>

        <p><a href="add-business">Add another business</a></p>



      </div>
    </div>

  </div>
</div>

