---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Add a feature to a land parcel</h1>
    </hgroup>
  </header>

  <p>
    Enter the name of the crop, building or other features that you want to add.
  </p>

  <form class="form" id="land-use-form">

    <%= partial "partial-land-use-list" %>

    <br><br>

    <div class="form-group">
      <a href="add-feature-trees" class="button">Continue</a>
    </div>
  </form>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <%= partial "partial-map-controls" %>
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

<% end %>
