---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-business" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Give someone access to <br><%= data.business.name %></h1>
    </hgroup>
  </header>

  <p class="lede">Enter their customer reference number.</p>

  <div class="form-group">
    <label class="form-label visuallyhidden" for="custRef">Customer reference number</label>
    <input type="text" class="form-control form-control-1-2" id="custRef" name="custRef">
  </div>


  <details>
    <summary>Don't know the number?</summary>
    <p>Ask the person to give you their customer reference number. They'll get this once they've registered with Rural Payments.</p>
  </details>

<br>

  <div class="form-group" id="next-yes">
    <a href="add-person-permissions" class="button">Continue</a>
  </div>

  </form>

<% end %>