---
title: Rural payments prototype
layout: layout_template_no_nav
---

<div class="inner-block">

  <%= partial "partial-breadcrumbs-business" %>

  <div class="group">
    <div class="words">
      <div class="inner-block">

        <header class="page-header">
          <hgroup>
            <h1>Thank you</h1>
          </hgroup>
        </header>

        <p>The following parcels have been added:</p>
        <p>
          SJ8063 1682<br>
          SJ8063 1684
        </p>


        <p>
          You won't be able to edit these parcels until the RPA has verified that you own them.
          This normally takes about 48 hours and you'll be emailed when it's done.
        </p>


        <a class="button" href="land">Finish</a>

      </div>
    </div>
    <%= partial "partial-map-zoomed-out" %>

  </div>
</div>

