---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Add a land use or feature</h1>
    </hgroup>
  </header>

  <form class="form" id="land-use-form" name="land-use-form" method="get" action="/<%= parcel.id %>/add-feature-details">
    <div class="form-group">
      <p class="form-label-bold">What do you want to add to this land?
        <span class="form-hint">For example 'Pond', 'Wheat' or 'Farmyard'</span>
      </p>
      <%= partial "partial-land-use-and-features-list" %>
    </div>

    <div class="form-group">
      <input type="submit" class="button" value="Continue">
    </div>
  </form>

<% end %>

<% content_for :column2 do %>

  <div class="map-wrapper">
    <div class="map">
      <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/parcel.png") %>">
    </div>
  </div>

<% end %>
