---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Wheat</h1>
    </hgroup>
  </header>

  <p>What's the total area of the wheat on this land?</p>

  <form class="form">

    <div class="form-group">
      <label for="area" class="visuallyhidden">Total area</label>
      <input class="form-control form-control-1-4" type="text"> ha
    </div>

  </form>

    <div class="form-group">
      <a href="/<%= parcel.id %>/arable-date" class="button">Continue</a>
    </div>

    <p><a href="/<%= parcel.id %>/arable">Back</a></p>

  </form>


<% end %>

<% content_for :column2 do %>

  <%= partial "partial-map", :locals => { :map => 'parcel'} %>

<% end %>
