---
title: Rural payments prototype
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="group">
    <div class="words-wide">
      <div class="inner-block">

        <header class="page-header">
          <hgroup>
            <h2 class="subtitle">Business</h2>
            <h1><%= data.business.name %></h1>
          </hgroup>

        </header>


        <h2 class="heading-medium">1. Check your business details</h2>

        <p>Update contact details and control who can act on behalf of the business.</p>

        <p><a href="business-details">Check your business details</a></p>



        <h2 class="heading-medium">2. Check your land details</h2>

        <p>Check that the information held about your land is correct.</p>

        <p><a href="/">Check your land parcels</a></p>



        <h2 class="heading-medium">3. Apply for a scheme</h2>

        <p>You can only apply for schemes between 10 April and 10 June 2015.</p>

        <p><a href="">Check which schemes you might be eligible for</a></p>





      </div>
    </div>

    <div class="map-column small-map">
      <div class="map-wrapper">
        <div class="map">
        <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/business-1-checked.png") %>">
      </div>

      <div class="font-xsmall">
        <h2 class="heading-small">Contact details</h2>
        <p>
          Bodmin Agr Ltd.<br>
          Monument Way <br>
          Bodmin <br>
          Cornwall <br>
          PL31 1NZ <br>
          United Kingdom
        </p>


        <p>
          Email: <a href="">info@bodminagrltd.co.uk</a> <br>
          Landline: 0300 790 6802<br>
          Mobile: 0300 123 0798<br>
        </p>
      </div>
    </div>

  </div>
</div>

