---
title: Rural payments prototype
layout: layout_template_no_nav
---

<div class="inner-block">

  <div id="breadcrumb">
    <ol role="breadcrumbs" class="group">
      <li><a href="/business"><%= data.business.name %></a></li>
    </ol>
  </div>

  <div class="group">
    <div class="words-wide">
      <div class="inner-block">

        <header class="page-header">
          <hgroup>
            <h1>Business details for <br><%= data.business.name %></h1>
          </hgroup>
        </header>

        <h2 class="heading-medium">Contact details</h2>

        <div class="grid-wrapper">
           <div class="grid grid-1-2">
             <div class="inner-block">
                <p>
                  Bodmin Agr Ltd.<br>
                  Monument Way <br>
                  Bodmin <br>
                  PL31 1NZ <br>
                  United Kingdom
                </p>
             </div>
           </div>
           <div class="grid grid-1-2">
             <div class="inner-block">
                <p>
                  <a href="">info@bodminagrltd.co.uk</a> <br>
                  Landline: 0300 790 6802<br>
                  Mobile: 0300 123 0798<br>
                </p>
             </div>
           </div>
         </div>

        <p>This business also has land registered in Wales.</p>

        <p><a href="business-details-edit">Edit these details</a></p>

        <h2 class="heading-medium">Reference numbers</h2>

        <p>
          Single Business Identifier: 222223250 <br>
          Firm Reference Number: 1100052819 <br>
          VAT Registration Number: GB999 9999 73
        </p>


        <h2 class="heading-medium">People</h2>

        <p>The following people are associated with this business:</p>

        <details>
          <summary>John Smith</summary>
          <div class="panel-indent font-xsmall">
            <ul>
              <li>Business owner (51%)</li>
              <li>Access: Full</li>
              <li>Email address: <a href="#">jsmith@bodminagrltd.co.uk</a></li>
              <li>Telephone: 04562 345762</li>
              <li>Date of birth: 15 December 1977</li>
              <li>National Insurance number: AA123458C</li>
            </ul>
            <p><a href="">Edit</a> or <a href="">remove</a> these details.</p>
          </div>
        </details>

        <details>
          <summary>Jane Smith</summary>
          <div class="panel-indent font-xsmall">
            <ul>
              <li>Business owner (49%)</li>
              <li>Access: Full</li>
              <li>Email address: <a href="#">jsmith2@bodminagrltd.co.uk</a></li>
              <li>Telephone: 04562 345762</li>
              <li>Date of birth: 15 December 1976</li>
              <li>National Insurance number: AA123448C</li>
            </ul>
            <p><a href="">Edit</a> or <a href="">remove</a> these details.</p>
          </div>
        </details>

        <details>
          <summary>Harry Carpenter</summary>
          <div class="panel-indent font-xsmall">
            <ul>
              <li>Agent</li>
              <li>Access: Full</li>
              <li>Email address: <a href="#">hcarpenter@landagents.com</a></li>
              <li>Telephone: 04562 345762</li>
            </ul>
            <p><a href="">Edit</a> or <a href="">remove</a> these details.</p>
          </div>
        </details>

        <p><a href="">Add a person</a></p>


<!--

            <p class="heading-medium">Are the above details correct?</p>

            <form class="form">
              <div class="form-group inline">
                <label for="correct-yes" class="block-label">
                  <input type="radio" name="hedges" id="correct-yes" value="yes" class="js-toggle">
                  Yes
                </label>
                <label for="correct-no" class="block-label">
                  <input type="radio" name="hedges" id="correct-no" value="no" class="js-toggle">
                  No
                </label>
              </div>

              <div class="form-group">
                <a href="business.html" class="button">Next</a>
              </div>
            </form>

-->



      </div>
    </div>

    <div class="map-column small-map">
      <div class="map-wrapper">
        <div class="map">
        <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/business-1-checked.png") %>">
      </div>
    </div>

  </div>
</div>

