---
title: Rural payments prototype
layout: layout_template_no_nav
---

<div class="inner-block">

  <%= partial "partial-breadcrumbs-business" %>

  <div class="group">
    <div class="words-wide">
      <div class="inner-block">

        <header class="page-header">
          <hgroup>
            <h1>Check business details for <br><%= data.business.name %></h1>
          </hgroup>
        </header>

        <p>Please check that the details below are correct.</p>

        <h2 class="heading-medium">Contact details</h2>

        <div class="grid-wrapper">
           <div class="grid grid-1-2">
             <div class="inner-block">
                <p>
                  Bodmin Agr Ltd.<br>
                  Monument Way <br>
                  Bodmin <br>
                  PL31 1NZ <br>
                  United Kingdom
                </p>
             </div>
           </div>
           <div class="grid grid-1-2">
             <div class="inner-block">
                <p>
                  <a href="">info@bodminagrltd.co.uk</a> <br>
                  Landline: 0300 790 6802<br>
                  Mobile: 0300 123 0798<br>
                </p>
             </div>
           </div>
         </div>

        <p>This business also has land registered in Wales.</p>

        <h2 class="heading-medium">Reference numbers</h2>

        <p>
          Single Business Identifier: 222223250 <br>
          Firm Reference Number: 1100052819 <br>
          VAT Registration Number: GB999 9999 73
        </p>


        <h2 class="heading-medium">Are the above details correct?</h2>

        <form class="form">
          <div class="form-group inline">
            <label for="correct-yes" class="block-label">
              <input type="radio" name="correct" id="correct-yes" value="yes" class="js-toggle" data-show="#next-people" data-hide="#next-change">
              Yes
            </label>
            <label for="correct-no" class="block-label">
              <input type="radio" name="correct" id="correct-no" value="no" class="js-toggle" data-show="#next-change" data-hide="#next-people">
              No
            </label>
          </div>

          <div class="form-group" id="next-change">
            <a href="business-details-change" class="button">Next</a>
          </div>

          <div class="form-group js-hidden" id="next-people">
            <a href="business-details-people-check" class="button">Next</a>
          </div>

        </form>



      </div>
    </div>

    <div class="map-column small-map">
      <div class="map-wrapper">
        <div class="map">
        <img class="map-image" src="<%= asset_path(:png, "/assets/images/maps/business-1-checked.png") %>">
      </div>
    </div>

  </div>
</div>

