---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial(:'partial-breadcrumbs', :locals => { breadcrumb: [{ title: "Your businesses", url: "/index-10-december" }, { title: data.business.name, url: "/business"}] }) %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1><%= data.business.name %></h1>
    </hgroup>
  </header>


  <h2 class="heading-medium">Give access to this business</h2>

  <div class="check-list">
    <div class="in-progress group">
      <p>You can give people access to your business if you'd like them to complete your application for you.</p>

      <p>Do you want to give someone access now? You will need their <a href="#">customer reference number</a>, which they can get from accessing this service.</p>

      <p><a href="#">Access to business</a></p>

    </div>
  </div>

  <h2 class="heading-medium">View your land parcels</h2>

  <div class="check-list">
    <div class="in-progress">
      <p>You can view the information we currently hold about your land. We will send you a message when we have opened access to update this information in the coming weeks.</p>

      <p><a href="/land">View your land parcels</a></p>
    </div>
  </div>

<% end %>

<% content_for :column2 do %>

  <%= partial "partial-map", :locals => { :map => 'business'} %>

  <div class="font-xsmall">
    <h2 class="heading-small"><a href="business-details">Business details</a></h2>
    <p>
      Bodmin Agr Ltd.<br>
      Monument Way <br>
      Bodmin <br>
      PL31 1NZ <br>
      United Kingdom
    </p>

    <h2 class="heading-small">Manage business</h2>

    <ul class="action-list">
      <li><a href="business-details">View business details</a></li>
      <li><a href="#">Manage access to this business</a></li>
      <li><a href="#">View CPH numbers</a></li>
    </ul>


  </div>

<% end %>