---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial(:'partial-breadcrumbs', :locals => { breadcrumb: [{ title: "Home", url: "/" }, { title: data.business.name, url: "/business"}] }) %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1><%= data.business.name %></h1>
    </hgroup>
  </header>


  <h2 class="heading-medium">Give access to this business</h2>

  <div class="check-list">
    <div class="in-progress group">
      <p>You can give people access to your business if you'd like them to complete your application for you.</p>

      <p>Do you want to give someone access now? You will need their <a href="#">customer reference number</a>, which they can get from accessing this service.</p>

      <form action="" class="form">
        <div class="form-group form-group-compound inline">
          <label class="block-label">
            <input type="radio" name="grant-access" value="yes"> Yes
          </label>
          <label class="block-label">
            <input type="radio" name="grant-access" value="no"> No
          </label>
        </div>
        <div class="form-group">
          <button class="button">Continue</button>
        </div>
      </form>
    </div>
  </div>

  <h2 class="heading-medium">Check your land parcels</h2>

  <div class="check-list">
    <div class="in-progress">
      <p>Tell us about your how you use your land.</p>

      <p><b class="bold-small">4 out of 13 parcels</b> have been checked so far.</p>

      <p><a href="/land">Check your land parcels</a></p>
    </div>
  </div>


  <h2 class="heading-medium">Greening requirements</h2>

  <div class="check-list">
    <div class="not-met">
      <p>You don't meet your crop diversification rules.</p>

      <ul class="bullets">
        <li>You need at least 2 types of arable crop.</li>
        <li>Your largest crop must not account for more than 75% of your non-organic arable land.</li>
      </ul>
    </div>

    <div class="not-met">
      <p>You don't meet your ecological focus area requirements.</p>

      <ul class="bullets">
        <li>At least 5% of your non-organic arable land must be made up of <a href="#">ecological focus areas</a>.</li>
      </ul>
    </div>
  </div>

  <h2 class="heading-medium">Apply for schemes</h2>

  <p>You can only apply for schemes between 10 April and 10 June 2015.</p>

  <p><a href="scheme-apply">Find out which schemes you might be eligible for</a></p>

<% end %>

<% content_for :column2 do %>

  <%= partial "partial-map", :locals => { :map => 'business'} %>

  <div class="font-xsmall">
    <h2 class="heading-small"><a href="business-details">Business details</a></h2>
    <p>
      Bodmin Agr Ltd.<br>
      Monument Way <br>
      Bodmin <br>
      PL31 1NZ <br>
      United Kingdom
    </p>

    <p>
      Email: <a href="">info@bodminagrltd.co.uk</a> <br>
      Landline: 0300 790 6802<br>
      Mobile: 0300 123 0798<br>
    </p>

    <h2 class="heading-small">Manage business</h2>

    <ul class="action-list">
      <li><a href="business-details">View business details</a></li>
      <li><a href="#">Manage access to this business</a></li>
      <li><a href="#">Tell us this business is closed</a></li>
    </ul>


  </div>

<% end %>