---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-business" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Business details for <br><%= data.business.name %></h1>
    </hgroup>
  </header>

  <h2 class="heading-medium">Contact details</h2>

  <div class="grid-row">
     <div class="column-half">
          <p>
            Bodmin Agr Ltd.<br>
            Monument Way <br>
            Bodmin <br>
            PL31 1NZ <br>
            United Kingdom
          </p>
     </div>
     <div class="column-half">
          <p>
            <a href="">info@bodminagrltd.co.uk</a> <br>
            Landline: 0300 790 6802<br>
            Mobile: 0300 123 0798<br>
          </p>
     </div>
   </div>

  <p>This business also has land registered in Wales.</p>

  <h2 class="heading-medium">Reference numbers</h2>

  <p>
    Single Business Identifier: 222223250 <br>
    Firm Reference Number: 1100052819 <br>
    VAT Registration Number: GB999 9999 73
  </p>


  <p><a class="button" href="business-details-change">Change these details</a></p>
  <p><a href="business">Back</a></p>

<% end %>