---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1><%= data.business.name %></h1>
    </hgroup>
  </header>


<div class="panel-indent">
  <h2 class="heading-small">Does someone help you with your claim?</h2>

  <p style="margin-bottom: 0.3125em;">You can give agents and others access to this business.</p>

  <p><a href="business-details">Manage access to this business</a></p>
</div>

<!--
  <h2 class="heading-medium">Update your business details</h2>

  <p>You need to update your business details before you can apply for schemes.</p>

  <p><a href="business-details">Update your business details</a></p>
-->

  <h2 class="heading-medium">1. Check your land parcels</h2>

  <p>Check and update the information held about this business's land.</p>

  <!--<p>4 out of 13 parcels have been checked so far.</p>-->

  <p><a href="/land">Check your land parcels</a></p>


  <h2 class="heading-medium">2. Apply for schemes</h2>

  <p>You can only apply for schemes between 10 April and 10 June 2015.</p>

  <p><a href="scheme-apply">Find out which schemes you might be eligible for</a></p>

<% end %>

<% content_for :column2 do %>

  <%= partial "partial-map", :locals => { :map => 'business'} %>

  <div class="font-xsmall">
    <h2 class="heading-small">Business details</h2>
    <p>
      Bodmin Agr Ltd.<br>
      Monument Way <br>
      Bodmin <br>
      PL31 1NZ <br>
      United Kingdom
    </p>


    <p>
      Email: <a href="">info@bodminagrltd.co.uk</a> <br>
      Landline: 0300 790 6802<br>
      Mobile: 0300 123 0798<br>
    </p>

    <ul>
      <li><a href="business-details">Update your business details</a></li>
      <li><a href="">Manage access to this business</a></li>
      <li><a href="">Close this business</a></li>
    </ul>




  </div>

<% end %>