---
layout: layout-1-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-parcel", :locals => { :parcel => parcel} %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Split land parcel in two</h1>
    </hgroup>
  </header>

  <p>Draw a line on the map to show where this parcel is split.
    Only split a parcel if there's a permanent barrier intersecting it.
    When you're done, click Continue.</p>

  <div class="form-group">
    <a href="change-land-parcel-date" class="button">Continue</a>
  </div>

<% end %>

<% content_for :column2 do %>

    <%= partial "partial-map", :locals => { :map => 'parcel'} %>

<% end %>

