---
title: Rural payments prototype
layout: layout_template_no_nav
---

<div class="inner-block">

  <%= partial "partial-breadcrumbs" %>

  <div class="group">
    <div class="words-wide">
      <div class="inner-block">

        <header class="page-header">
          <hgroup>
            <h1>Deleted messages</h1>
          </hgroup>
        </header>

        <ul class="message-list">
          <li>
            <span class="delete"><a href="">undelete</a></span>
            <strong class="message-date">5 Sep 2014</strong>
            <details>
              <summary>Welcome to the Rural Payments service</summary>

              <p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis turpis id urna fermentum dictum sit amet ac risus. Vivamus et ante in neque gravida tempor cursus in eros. Phasellus ante nisl, porttitor eu ante sed, tincidunt scelerisque augue.
</p>

<p>In posuere mollis nisl vitae mollis. Donec laoreet neque venenatis nisl porta aliquet. Nulla in imperdiet nisi. Sed vestibulum neque a malesuada vestibulum.
              </p>


            </details>
          </li>
        </ul>

        <p><a href="/">Back</a></p>

      </div>
    </div>

  </div>
</div>

