---
title: Rural payments prototype
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="group">
    <div class="words-wide">
      <div class="inner-block">

        <header class="page-header">
          <hgroup>
            <h1>Rural payments</h1>
          </hgroup>
        </header>


        <h2 class="heading-medium">Your businesses</h2>

        <ul class="business-list">
          <li>
            <a href="business">Bodmin Agr Ltd.</a>
            <div class="font-xsmall">Monument Way, Bodmin PL31 1NZ </div>
          </li>
        </ul>


        <p class="font-xsmall"><a href="">Add another business</a></p>

      </div>
    </div>

  </div>
</div>

