---
layout: layout-2-1-columns
---

<% content_for :column1 do %>

 <header class="page-header">
    <hgroup>
      <h1>Rural Payments</h1>
    </hgroup>
  </header>

  <h2 class="heading-medium">Messages</h2>

  <ul class="message-list">
    <li>
      <span class="delete"><a href="">delete</a></span>
      <strong class="message-date">12 Nov 2014</strong>
      <details>
        <summary>Proof of address required for Brewery Farm</summary>
        <p>
          We need to verify that the owner Harry Carpenter lives at this address.
          Please submit a copy of a utility bill from the last 3 months.
        </p>
        <ul class="list-bullet">
          <li><a href="">Submit online</a></li>
          <li><a href="">Submit by post</a></li>
        </ul>
      </details>
    </li>
    <li class="already-read">
      <span class="delete"><a href="">delete</a></span>
      <strong class="message-date">6 Oct 2014</strong>
      <details>
        <summary>New business added: Bodmin Agr Ltd</summary>
        <p>You have been given full access to <a href="#">Bodmin Agr Ltd</a>.</p>
      </details>
    </li>
    <li class="already-read">
      <span class="delete"><a href="">delete</a></span>
      <strong class="message-date">23 Sep 2014</strong>
      <details>
        <summary>Please check and update your contact details</summary>
        <p>Some of your contact details are missing. Please update them so we can get in touch if we need to.</p>
        <p><a href="#">Update your contact details</a></p>
      </details>
    </li>
  </ul>

  <p class="font-xsmall"><a href="deleted-messages">View deleted messages</a></p>

  <h2 class="heading-medium">Businesses</h2>

  <p>There are 17 business associated with this account:</p>

  <ul class="business-list">
    <li><a href="#">Wilkswood Farm</a> Clifton-on-teme, Worcester WR6 6HH</li>
    <li><a href="#">Oakleigh Farm</a> Penny Close, Welland Rd, Upton-upon-severn, Worcester WR8 0SN</li>
    <li><a href="#">Modbury Farm</a> Cowsden Hall, Cowsden, Upton Snodsbury, Worcester WR7 4NZ</li>
    <li><a href="business">Bodmin Agr Ltd</a> Monument Way, Bodmin PL31 1NZ</li>
    <li><a href="#">Brewery Farm</a> Welland Court Lane, Upton-upon-severn, Worcester WR8 0SS</li>
    <li><a href="#">The Pamphill Dairy Farm</a> Alcester Rd, Abbots Morton, Worcester WR7 4LX</li>
    <li><a href="#">Maydownfarm Ltd</a> Hallow Lane, Lower Broadheath, Worcester WR2 6QL</li>
    <li><a href="#">Iwerne Springs Farm</a> Hope House Lane, Martley, Worcester WR6 6QF</li>
    <li><a href="#">Bride Valley Farm</a> Broadwas, Worcester WR6 5PA</li>
    <li><a href="#">Allenbrook Restocking Trout Farm</a> Sledgemoor, Broadwas, Worcester WR6 5NR</li>
    <li><a href="#">Washingpool Farm</a> Severn Stoke, Worcester WR8 9JA</li>
    <li><a href="#">Gold Hill Organic Farm</a> Monument Way, Bodmin PL31 1NZ</li>
    <li><a href="#">Hooke Springs Restocking Trout Farm</a> Grange Lane, Lower Broadheath, Worcester WR2 6RW</li>
    <li><a href="#">Trigon Fisheries</a> Spetchley, Worcester WR5 1RT</li>
    <li><a href="#">Sydling Estate</a> Little Inkberrow, Worcester WR7 4JH</li>
    <li><a href="#">C W Abbott & Son</a> Bourne Rd, Defford, Worcester WR8 9BT</li>
    <li><a href="#">Longmeadow Organic Vegetables</a> Frogend, Bishops Frome, Worcester WR6 5BT</li>
  </ul>

  <h2 class="heading-small">Can't see your business?</h2>
  <p><a href="add-business">Add a business to this account</a></p>

<% end %>

