---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

        <div class="back-link">
          <a href="#">Back</a>
        </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">



        <header class="page-header">
          <hgroup>
            <h2 class="subtitle">Primrose Farm</h2>
            <h1>Land parcels</h1>
          </hgroup>
        </header>

        <p>
          Update all your land parcels before applying for any schemes.
          Select a parcel from the list to update it.
        <p>

        <table class="parcels">
          <thead>
            <tr>
              <th class="parcel-name">Parcel</th>
              <th class="parcel-area">Area</th>
              <th class="parcel-cph">CPH</th>
              <th class="parcel-status">Updated</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="parcel-name">
                <a href="02-parcel-details">Alfafa field</a>
                <span class="parcel-id">ID: SJ7555 1074</span>
              </td>
              <td class="parcel-cph">09 / 018 / 0085</td>
              <td class="parcel-area">4.2ha</td>
              <td class="parcel-status not-updated">No</td>
            </tr>
            <tr>
              <td class="parcel-name">
                <a href="02-parcel-details">Top paddock</a>
                <span class="parcel-id">ID: SJ7555 1074</span>
              </td>
              <td class="parcel-cph">09 / 018 / 0085</td>
              <td class="parcel-area">6.4ha</td>
              <td class="parcel-status not-updated">No</td>
            </tr>
            <tr>
              <td class="parcel-name">
                <a href="02-parcel-details">Water meadow</a>
                <span class="parcel-id">ID: SJ7555 1074</span>
              </td>
              <td class="parcel-cph">09 / 018 / 0085</td>
              <td class="parcel-area">0.9ha</td>
              <td class="parcel-status updated">Yes</td>
            </tr>
            <tr>
              <td class="parcel-name">
                <a href="02-parcel-details">Red barn</a>
                <span class="parcel-id">ID: SJ7555 1074</span>
              </td>
              <td class="parcel-cph">09 / 018 / 0085</td>
              <td class="parcel-area">12.7ha</td>
              <td class="parcel-status not-updated">No</td>
            </tr>
            <tr>
              <td class="parcel-name">
                <a href="02-parcel-details">Wheat field</a>
                <span class="parcel-id">ID: SJ7555 1074</span>
              </td>
              <td class="parcel-cph">09 / 018 / 0085</td>
              <td class="parcel-area">4.8ha</td>
              <td class="parcel-status not-updated">No</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div class="map">
      <%= partial "partial-map-controls" %>
      <div class="map-wrapper">

      </div>
    </div>
  </div>
</div>

