---
title: Welcome to Middleman
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="back-link">
    <a href="#">Back</a>
  </div>

  <div class="group">
    <div class="words">
      <div class="inner-block">
        <header class="page-header">
          <hgroup>
            <h2 class="subtitle">Primrose Farm</h2>
            <h1>Manage your land</h1>
          </hgroup>
        </header>

        <p>Choose a parcel from the list below to manage its status.</p>

        <table class="parcels">
          <thead>
            <tr>
              <th class="parcel-status"><span class="visuallyhidden">Status</span></th>
              <th class="parcel-name">Parcel name and ID</th>
              <th class="parcel-cph">CPH</th>
              <th class="parcel-area">Area</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="status unconfirmed"></td>
              <td class="parcel-name">
                <a href="02-parcel-details">Alfafa field</a>
                <span class="parcel-id">SJ7555 1074</span>
              </td>
              <td class="parcel-cph">09 / 018 / 0085</td>
              <td class="parcel-area">4.2ha</td>
            </tr>
            <tr>
              <td class="status unconfirmed"></td>
              <td class="parcel-name">
                <a href="02-parcel-details">Top paddock</a>
                <span class="parcel-id">SJ7555 1074</span>
              </td>
              <td class="parcel-cph">09 / 018 / 0085</td>
              <td class="parcel-area">4.2ha</td>
            </tr>
            <tr>
              <td class="status unconfirmed"></td>
              <td class="parcel-name">
                <a href="02-parcel-details">Water meadow</a>
                <span class="parcel-id">SJ7555 1074</span>
              </td>
              <td class="parcel-cph">09 / 018 / 0085</td>
              <td class="parcel-area">4.2ha</td>
            </tr>
            <tr>
              <td class="status unconfirmed"></td>
              <td class="parcel-name">
                <a href="02-parcel-details">Red barn</a>
                <span class="parcel-id">SJ7555 1074</span>
              </td>
              <td class="parcel-cph">09 / 018 / 0085</td>
              <td class="parcel-area">4.2ha</td>
            </tr>
            <tr>
              <td class="status unconfirmed"></td>
              <td class="parcel-name">
                <a href="02-parcel-details">Wheat field</a>
                <span class="parcel-id">SJ7555 1074</span>
              </td>
              <td class="parcel-cph">09 / 018 / 0085</td>
              <td class="parcel-area">4.2ha</td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
    <div class="map">

    </div>
  </div>
</div>

