---
layout: layout-2-1-columns
---

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Claim rural payments</h1>
    </hgroup>
  </header>

  <h2 class="heading-medium">Messages</h2>

  <ul class="message-list">
    <li>
      You have no new messages.
    </li>
  </ul>

  <p class="font-xsmall"><a href="deleted-messages">View deleted messages</a></p>

  <h2 class="heading-medium">Businesses</h2>

  <p>There are currently no businesses associated with this account.</p>

  <p><a href="add-business" class="button">Add a business</a></p>

<% end %>

