---
layout: layout-2-1-columns
---



<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Your businesses</h1>
    </hgroup>
  </header>

  <p>See the land parcels we have listed for your businesses and give someone permission to make your application for you.</p>

  <p>Soon, you’ll be able to tell us what’s on your land, what you’re growing and see which schemes and grants you can get.</p>

  <h2 class="heading-medium">Businesses</h2>

  <p>You can manage 1 business.</p>

  <table class="business-list js-row-link">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="sbi"><span class="visuallyhidden">Single business identifier (SBI)</span></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><a href="business-10-december">Bodmin Agr Ltd</a></td>
        <td class="sbi"><abbr title="Single business identifier">SBI</abbr>: 1234567890</td>
      </tr>
      <tr>
        <td class="name">Hill Farm</td>
        <td class="sbi">You can’t manage this business until the head of holding has checked it.</td>
      </tr>
    </tbody>
  </table>

  <h2 class="heading-medium">Messages</h2>

  <table class="messages js-link-row">
    <thead>
      <tr>
        <th class="subject">Subject</th>
        <th class="date">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="subject"><a href="#">Permission given for Bodmin Agr Ltd.</a></td>
        <td class="date"><time datetime="2014-12-02">2 December 2014</time></td>
      </tr>
    </tbody>
  </table>

<!--
  <p><a href="messages">Read messages</a></p>
-->

  <h2 class="heading-medium">Personal details</h2>

  <p><a href="update-personal-details">Update your personal details</a></p>
<% end %>

<% content_for :column2 do %>
<% end %>

