---
title: Rural payments prototype
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="group">
    <div class="words-wide">
      <div class="inner-block">

        <header class="page-header">
          <hgroup>
            <h1>Apply for Rural Payments</h1>
          </hgroup>
        </header>

        <h2 class="heading-medium">Messages</h2>

        <ul class="message-list">
          <li>
            <span class="delete"><a href="">delete</a></span>
            <strong class="message-date">5 Sep 2014</strong>
            <details>
              <summary>Welcome to the Rural Payments service</summary>

              <p>Welcome John Smith,</p>

              <p>
                Use this service to apply for Rural Payments schemes.
                You'll find any important messages here when you sign in.
              </p>

              <p>Regards,</p>

              <p>The Rural Payments team</p>


            </details>
          </li>
        </ul>

        <h2 class="heading-medium">Businesses</h2>

        <p>There is 1 business associated with this account:</p>

        <ul class="business-list">
          <li><a href="business" class="bold-small">Bodmin Agr Ltd</a> Monument Way, Bodmin PL31 1NZ</li>
        </ul>

        <h2 class="heading-small">Can't see your business?</h2>
        <p><a href="add-business">Add a business to this account</a></p>

      </div>
    </div>

  </div>
</div>

