---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial(:'partial-breadcrumbs', :locals => { breadcrumb: [{ title: "Your businesses", url: "/index-10-december" }] }) %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Your businesses</h1>
    </hgroup>
  </header>

  <h2 class="heading-medium">Businesses</h2>

<!--
  <ul class="business-list">
    <li><a href="business" class="bold-small">Bodmin Agr Ltd</a> Monument Way, Bodmin PL31 1NZ</li>
  </ul>
-->

  <p>You can manage 1 business.</p>

  <table class="business-list js-row-link">
    <thead>
      <tr>
        <th class="name">Name</th>
        <th class="address"></th>
        <th class="progress">Progress</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="name"><a href="business-10-december">Bodmin Agr Ltd</a></td>
        <td class="address">Monument Way, Bodmin PL31 1NZ</td>
        <td class="progress">Not started</td>
      </tr>
      <tr>
        <td class="name">Hill Farm</td>
        <td class="address" colspan="2">You can't view this business until the owner has checked it</td>
      </tr>
    </tbody>
  </table>

  <h2 class="heading-medium">Messages</h2>

  <p>You have 0 unread messages.</p>

  <p><a href="messages">Read messages</a></p>

  <h2 class="heading-medium">Personal details</h2>

  <p><a href="update-personal-details">Update your personal details</a></p>
<% end %>

<% content_for :column2 do %>
<% end %>

