---
title: Rural payments prototype
layout: layout_template_no_nav
---

<div class="inner-block">

  <div class="group">
    <div class="words">
      <div class="inner-block">

        <header class="page-header">
          <hgroup>
            <h1>Rural payments</h1>
          </hgroup>
        </header>


        <p>Apply for rural payments.</p>

        <h2 class="heading-medium">Manage a business</h2>

        <ul>
          <li>
            <a href="business">Bodmin Agr Ltd.</a>
          </li>
        </ul>


        <h2 class="heading-medium">Add a business</h2>

        <p><a href="">Add a business</a></p>

      </div>
    </div>

  </div>
</div>

