---
title: Rural payments prototype
layout: layout_template_no_nav
---

<div class="inner-block">

  <div id="breadcrumb">
    <ol role="breadcrumbs" class="group">
      <li><a href="/">Businesses</a></li>
      <li><a href="/business"><%= data.business.name %></a></li>
      <li><a href="/scheme-apply">Apply for a scheme</a></li>
    </ol>
  </div>

  <div class="group">
    <div class="words-wide">
      <div class="inner-block">

        <header class="page-header">
          <hgroup>
            <h1>Basic Payment Scheme</h1>
          </hgroup>

        </header>

        <p>To qualify for the full Basic Payment you must:</p>

        <ul class="list-bullet">
          <li>have at least 5ha of arable land and entitlements</li>
          <li>be actively farming this land</li>
          <li>meet the <a href="cross-compliance">Cross Compliance rules</a></li>
          <li>meet the <a href="greening-requirements">Greening requirements</a></li>
        </ul>



        <p>Based on the information you've provided so far you have <strong class="warning-text">not met</strong> all the requirements for the full Basic Payment. See below for more details and to find out what you can do about this.</p>


        <h3 class="heading-medium">Total eligible area: 15.4ha</h3>

        <p>
          The total eligible area is the total area of agricultural land for which you have appropriate entitlements.
          This must be at least 5ha to qualify for the Basic Payment Scheme.
        </p>

        <details>
          <summary>How your area was calculated</summary>

          <table class="entitlements-list">
            <tr>
              <td>Total area of business</td>
              <td>18ha</td>
              <td></td>
            </tr>
            <tr>
              <td>Total agricultural land</td>
              <td>15.4ha</td>
              <td><a href="land">Check your land parcels</a></td>
            </tr>
            <tr>
              <td>Entitlements</td>
              <td>16ha</td>
              <td><a href="entitlements">Check your entitlements</a></td>
            </tr>
            <tr class="total">
              <td>Total eligible area</td>
              <td>15.4ha</td>
              <td></td>
            </tr>
          </table>

        </details>


        <h3 class="heading-medium">Greening requirements</h3>

        <p>30% of the Basic Payment is conditional on you meeting the following requirements:</p>

        <ul class="eligibility-list">
          <li>Your main crop accounts for less than 75% of your total arable area <span class="eligible-status">Yes</span></li>
          <li>Your 2 main crops account for less than 95% of your total arable area <span class="eligible-status">Yes</span></li>
          <li>At least 5% of your arable land is made of Ecological Focus Areas <span class="eligible-status no">No</span></li>
        </ul>

        <p><a href="cross-compliance">More about greening requirements</a></p>

        <h3 class="heading-medium">What you can do</h3>

        <p>Here's what you can do to fully meet the above requirements.</p>

        <ol class="list-bullet">
          <li><a href="">Increase your Ecological Focus Areas</a></li>
        </ol>

        <p><a href="">Back</a></p>

      </div>
    </div>

  </div>
</div>

