---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <%= partial "partial-breadcrumbs-business" %>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>Apply for a scheme</h1>
    </hgroup>
  </header>

  <p>You can only apply for schemes between 10 April and 10 June 2015.
     Based on the information you've told us so far, you may be eligible for the following schemes:
  </p>

  <ul class="list-bullet">
    <li><a href="scheme-apply-bps">Basic Payment Scheme</a></li>
  </ul>

<% end %>