---
title: Rural payments prototype
layout: layout_template_no_nav
---

<div class="inner-block">

  <%= partial "partial-breadcrumbs" %>

  <div class="group">
    <div class="words-wide">
      <div class="inner-block">

        <header class="page-header">
          <hgroup>
            <h1>Update your personal details</h1>
          </hgroup>
        </header>


         <!-- Full name -->
        <div class="form-group">
          <label class="form-label" for="full-name">Full name</label>
          <input type="text" class="form-control" id="full-name" value="John Smith">
        </div>


        <!-- Date of birth -->
        <div class="form-group">
          <fieldset>
            <legend class="form-label">Date of birth</legend>

            <div class="date">
              <div class="form-group">
                <label for="dob-day" class="form-hint">Day</label>
                <input type="text" class="form-control" id="dob-day" value="15">
              </div>
              <div class="form-group">
                <label for="dob-month" class="form-hint">Month</label>
                <input type="text" class="form-control" id="dob-month" value="12">
              </div>
              <div class="form-group form-group-year">
                <label for="dob-year" class="form-hint">Year</label>
                <input type="text" class="form-control" id="dob-year" value="1947">
              </div>
            </div>

          </fieldset>
        </div>


        <!-- National Insurance number -->
        <div class="form-group">
          <label class="form-label" for="ni-number">
            National Insurance number
          </label>
          <input type="text" class="form-control" id="ni-number" value="AA123458C">
        </div>

        <br>
        <p><a href="account" class="button">Save and return</a></p>
        <p><a href="account">Back</a></p>

      </div>
    </div>

    <div class="map-column small-map">

      <h2 class="heading-medium">Account actions</h2>
      <ul>
        <li><a href="">Sign out</a></li>
        <li><a href="">Delete account</a></li>
      </ul>

    </div>

  </div>
</div>

