---
layout: layout-2-1-columns
---

<% content_for :breadcrumbs do %>
  <p><a href="javascript:history.back()">Back</a></p>
<% end %>

<% content_for :column1 do %>

  <header class="page-header">
    <hgroup>
      <h1>What features should you add to land parcels?</h1>
    </hgroup>
  </header>


<% end %>


