<div class="content-shape">

  <p>
    <span class="map-marker-4"></span> Draw the outline on the map
  </p>

  <p>
    <a href="#drawing-tips-shape" class="js-toggle">Drawing tips</a>
  </p>

  <div id="drawing-tips-shape" class="js-hidden">

    <ul class="font-xsmall list-bullet">
      <li>Click around the edges of the feature on the map</li>
      <li>Double-click to stop drawing</li>
      <li>Switch to 'Photo' to see an arial photo of the land</li>
      <li>Use the zoom and full screen controls to make the map bigger</li>
    </ul>

  </div>

  <p>Area on map: 0.6ha</p>

  <div class="form-group">
    <label class="form-label">Actual area:&nbsp;
      <input class="form-control form-control-1-8" type="text"> ha
    </label>
  </div>

  <%= partial "partial-note", :locals => { :type => "shape"} %>

  <div class="form-group">
    <a href="/<%= parcel.id %>/add-feature-date" class="button js-pass-querystring">Continue</a>
    <p><a href="/<%= parcel.id %>/add-feature">Back</a></p>
  </div>


</div>