---
layout: layout-2-1-columns
---

<% content_for :column1 do %>

  <header class="page-header no-breadcrumb">
    <hgroup>
      <h1>Basic Payment Scheme eligibility</h1>
    </hgroup>
  </header>

  <form class="form">

  <div id="q1">
    <h2 class="heading-medium">Does this business operate any of the following?</h2>
    <p>An airport, railway services, waterworks, real estate services or permanent sports and recreational grounds.</p>
    <div class="form-group inline">
      <label for="yes-1" class="block-label">
        <input type="radio" name="q1" id="yes-1" value="yes" class="js-toggle" data-show="#q2, #q1-options" data-hide="#q3, #q4, #outcome-1, #outcome-2, #outcome-3">
        Yes
      </label>
      <label for="no-1" class="block-label">
        <input type="radio" name="q1" id="no-1" value="no" class="js-toggle" data-show="#outcome-1" data-hide="#q1-options, #q2, #q3, #q4, #outcome-2, #outcome-3">
        No
      </label>
    </div>
    <div class="panel-indent js-hidden" id="q1-options">
      <p>Select all that apply:</p>
      <label class="form-group form-group-compound" for="a1">
        <input type="checkbox" id="a1"> Airport
      </label>
      <label class="form-group form-group-compound" for="a2">
        <input type="checkbox" id="a2"> Railway services
      </label>
      <label class="form-group form-group-compound" for="a3">
        <input type="checkbox" id="a3"> Waterworks
      </label>
      <label class="form-group form-group-compound" for="a4">
        <input type="checkbox" id="a4"> Real estate services
      </label>
      <label class="form-group form-group-compound" for="a5">
        <input type="checkbox" id="a5"> Permanent sports and recreational grounds
      </label>
    </div>
  </div>

  <div id="q2" class="js-hidden">
    <h2 class="heading-medium">Did this business claim more than €5000 in rural payments last year?</h2>
    <p>You can get this number from the top of last year's statement.</p>
    <div class="form-group inline">
      <label for="yes-2" class="block-label">
        <input type="radio" name="q2" id="yes-2" value="yes" class="js-toggle" data-show="#q3" data-hide="#q4, #outcome-1, #outcome-2, #outcome-3">
        Yes
      </label>
      <label for="no-2" class="block-label">
        <input type="radio" name="q2" id="no-2" value="no" class="js-toggle" data-show="#outcome-1" data-hide="#q3, #q4, #outcome-2, #outcome-3">
        No
      </label>
    </div>
  </div>

  <div id="q3" class="js-hidden">
    <h2 class="heading-medium">Does the business have more than 36ha of eligible land?</h2>
    <p>This is eligible land at the businesses disposal on the 15 May 2015.</p>
    <div class="form-group inline">
      <label for="yes-3" class="block-label">
        <input type="radio" name="q3" id="yes-3" value="yes" class="js-toggle" data-show="#outcome-1" data-hide="#q4, #outcome-2, #outcome-3">
        Yes
      </label>
      <label for="no-3" class="block-label">
        <input type="radio" name="q3" id="no-3" value="no" class="js-toggle" data-show="#q4" data-hide="#outcome-1, #outcome-2, #outcome-3">
        No
      </label>
    </div>
  </div>

  <div id="q4" class="js-hidden">
    <h2 class="heading-medium">Is the business income primarily agricultural?</h2>
    <p>You'll need to prove that either:</p>
    <ul class="list-bullet">
      <li>more than 40% of the total business receipts are agricultural, or</li>
      <li>last year's rural payment was equal to more than 5% of the businesses non-agricultural receipts</li>
    </ul>
    <div class="form-group inline">
      <label for="yes-4" class="block-label">
        <input type="radio" name="q4" id="yes-4" value="yes" class="js-toggle" data-show="#outcome-2" data-hide="#outcome-1, #outcome-3">
        Yes
      </label>
      <label for="no-4" class="block-label">
        <input type="radio" name="q4" id="no-4" value="no" class="js-toggle" data-show="#outcome-3" data-hide="#outcome-1, #outcome-2">
        No
      </label>
    </div>
  </div>

  <div id="outcome-1" class="js-hidden">
    <div class="panel-indent">
      <h2 class="heading-medium">This business is eligible for the Basic Payment Scheme</h2>
    </div>
    <p><a href="" class="button">Continue</a></p>
  </div>

  <div id="outcome-2" class="js-hidden">
    <div class="panel-indent">
      <h2 class="heading-medium">This business might be eligible for the Basic Payment Scheme</h2>

      <p>You'll need to send evidence to the RPA that either:</p>
      <ul class="list-bullet">
        <li>more than 40% of the total business receipts are agricultural, or</li>
        <li>last year's rural payment was equal to more than 5% of the businesses non-agricultural receipts</li>
      </ul>
      <p><a href="">Find out more about submitting evidence</a></p>
    </div>

    <p><a href="" class="button">Continue</a></p>
  </div>


  <div id="outcome-3" class="js-hidden">
    <div class="panel-indent">
      <h2 class="heading-medium">This business is NOT eligible for the Basic Payment Scheme</h2>
    </div>
    <p><a href="" class="button">Continue</a></p>
  </div>


  </form>



<% end %>

